# 2.1 Аггрегатные функции

2.2.3
select author, count(book_name) as books_count from books where publishing_year between 1985 and 2015 group by author order by books_count desc, author asc limit 5

2.2.4
select author, count(distinct genre) as genres_count from books where language_code = 'eng' group by author order by genres_count desc, author asc limit 10

2.2.5
select distinct genre from books

2.2.6
select author, count(book_id) as book_count from books where publishing_year between 1900 and 2000 group by author order by book_count desc, author asc offset 5

2.3.1
select publisher from books group by publisher having count(book_id)>100 order by publisher asc

2.3.2
select author, avg(book_average_rating) as average_rating from books where (publishing_year between 1940 and 1980 and genre='fiction' ) group by author having avg(book_average_rating)>3.9 order by author asc

2.3.3
select publishing_year, genre, count(book_id) as books_count from books group by publishing_year, genre having avg(book_average_rating) < 4.2 and count(book_id)>5 order by publishing_year asc, genre asc, books_count asc

2.4.1
select avg(book_ratings_count) from books where (author = 'Stephen King' or author = 'Amy Tan') and  (publishing_year between 1950 and 1995)

2.4.2
select author, genre, avg(book_average_rating) as average_rating from books group by author, genre order by average_rating desc, author asc, genre asc offset 2 limit 6

2.4.3
select author, count(distinct  publisher), sum(book_ratings_count), avg(book_average_rating), min(publishing_year), max(publishing_year)
from books
where publishing_year > 1930
group by author
having count(distinct publisher) >= 2 and max(publishing_year) > 1950

# 3.1 - Схема данных

In [ ]:
3.1.3.1
select * from city where state='Illinois'

3.1.3.2
select count(city_id) from city where population>1000000

Задание 3.1.4.1
select cust_type, avg(annual_revenue) from customer group by cust_type

Задание 3.1.4.2
select cust_type, avg(annual_revenue) from customer group by cust_type  having avg(annual_revenue) > 25000000

Задание 3.1.5.1 
select last_name from driver where phone is null

Задание 3.1.6.1
select count(distinct make) from truck

Задание 3.1.7.1 
select ship_id, weight from shipment order by weight desc offset 2 limit 1

Задание 3.1.8.2 
select count(book_id)  from public.books 
select count(book_id)  from other.books 
просто сравнить полученные цифры

Задание 3.1.10.1 
select count(t.table_schema) from information_schema.tables t where t.table_schema = 'public'

Задание 3.1.11.1 
select c.data_type from information_schema.columns c where c.table_schema = 'public'
group by c.data_type order by count(c.data_type) desc limit 1

Задание 3.1.11.2
select count(c.table_name)
from information_schema.columns c
where c.table_schema = 'shipping' and c.data_type='numeric'

Задание 3.1.12.1 
select count(c.table_name)
from information_schema.table_constraints c
where c.table_schema = 'public' and c.constraint_type in ('PRIMARY KEY')

Задание 3.2.2.1
select count(c.city_id)
from shipping.city c
where c.population>(select avg(c.population)
from shipping.city c)
-- запрос в запросе

Задание 3.2.2.2
select count(c.city_id)
from shipping.city c
where c.area>(select avg(c.area)
from shipping.city c)
/* любой многострочный 
комментарий
*/

Задание 3.2.3.1 
select 	*
	from
		shipping.shipment s
			join shipping.city c on s.city_id = c.city_id
            
Задание 3.2.3.2
select 	
	distinct s.city_id,	c.city_id
from
	shipping.shipment s
		join shipping.customer c on s.cust_id = c.cust_id
        
Задание 3.2.3.3 
select d.city_name, count(s.city_id)
    from
        shipping.shipment s
            join shipping.city d on s.city_id = d.city_id
group by d.city_name
order by count(s.ship_id) desc
offset 1
limit 1

Задание 3.2.3.4 
select
	avg(c.population), avg(c.area), sum(c.population)/sum(c.area)
from
	shipping.city c
		join shipping.city c1
			on c.area > c1.area
where c1.city_name = 'Paramount'

Задание 3.2.3.5
select d.first_name, d.last_name, c.city_name, max(ship_date)
from shipping.shipment as s
    join shipping.driver as d on s.driver_id = d.driver_id
    join shipping.city as c on d.city_id = c.city_id
group by d.first_name, d.last_name, c.city_name
order by d.last_name asc

Задание 3.2.3.6 
select c.cust_name, gorod.city_name, count(s.ship_id), avg(s.weight)
from shipping.shipment as s
    join shipping.customer as c on s.cust_id = c.cust_id
    join shipping.city as gorod on gorod.city_id = s.city_id
group by c.cust_name, gorod.city_name
order by c.cust_name asc, avg(s.weight) desc

Задание 3.2.4.1 
select c.state, count(cust.cust_id) 
from shipping.city c
    left join shipping.customer as cust on cust.city_id=c.city_id
group by c.state
order by count(cust.cust_id) desc, c.state asc

Задание 3.2.5.2 
select
    distinct c.city_name
from
    shipping.shipment s
    left join shipping.city c on c.city_id = s.city_id
where s.weight < 10000
order by c.city_name

Задание 3.2.5.3
select
    c.city_name, count(distinct cust.cust_id), count (distinct s.ship_id),  count(distinct d.driver_id)
from
    shipping.city c
        left join shipping.customer cust on c.city_id=cust.city_id
        left join shipping.shipment s on c.city_id=s.city_id
        left join shipping.driver d on c.city_id=d.city_id
 group by
     c.city_name
 having
     (count(distinct cust.cust_id) >0 or count(distinct s.ship_id)>0 or count(distinct s.driver_id)>0)
order by 1

# 3.2.6. FULL OUTER JOIN

In [ ]:
Задание 3.2.6.1 
select first_name, coalesce(phone,'(999) 999-9999') phone
from driver
order by first_name asc

Задание 3.2.6.2
select coalesce (s.city_id,cust.city_id,d.city_id) as id, count(distinct cust.cust_id) as cust_c, count (distinct s.ship_id) as ship_c,  count(distinct d.driver_id) as dr_c
from shipment as s
full outer join customer as cust on s.city_id=cust.city_id
full outer join driver as d on s.city_id=d.city_id
group by id
having (count(distinct cust.cust_id)>0 or count (distinct s.ship_id)>0 or count(s.driver_id)>0)

# 3.2.7 CROSS JOIN

In [ ]:
Задание 3.2.7.1 
select 
	distinct ship_date, first_name
from 
	shipping.driver 
		cross join shipping.shipment
group by ship_date, first_name
order by ship_date asc, first_name asc

Задание 3.2.7.2
select 
	s.ship_date,
	max(c.area) area,
	min(t.model_year) model_year
from shipping.shipment s
	join shipping.city c on c.city_id = s.city_id 
	join shipping.truck t on t.truck_id = s.truck_id
group by 1
order by 1

# 4.1.UNION