# 2.1 Аггрегатные функции

2.2.3
select author, count(book_name) as books_count from books where publishing_year between 1985 and 2015 group by author order by books_count desc, author asc limit 5

2.2.4
select author, count(distinct genre) as genres_count from books where language_code = 'eng' group by author order by genres_count desc, author asc limit 10

2.2.5
select distinct genre from books

2.2.6
select author, count(book_id) as book_count from books where publishing_year between 1900 and 2000 group by author order by book_count desc, author asc offset 5

2.3.1
select publisher from books group by publisher having count(book_id)>100 order by publisher asc

2.3.2
select author, avg(book_average_rating) as average_rating from books where (publishing_year between 1940 and 1980 and genre='fiction' ) group by author having avg(book_average_rating)>3.9 order by author asc

2.3.3
select publishing_year, genre, count(book_id) as books_count from books group by publishing_year, genre having avg(book_average_rating) < 4.2 and count(book_id)>5 order by publishing_year asc, genre asc, books_count asc

2.4.1
select avg(book_ratings_count) from books where (author = 'Stephen King' or author = 'Amy Tan') and  (publishing_year between 1950 and 1995)

2.4.2
select author, genre, avg(book_average_rating) as average_rating from books group by author, genre order by average_rating desc, author asc, genre asc offset 2 limit 6

2.4.3
select author, count(distinct  publisher), sum(book_ratings_count), avg(book_average_rating), min(publishing_year), max(publishing_year)
from books
where publishing_year > 1930
group by author
having count(distinct publisher) >= 2 and max(publishing_year) > 1950

# 3.1 - Схема данных

In [ ]:
3.1.3.1
select * from city where state='Illinois'

3.1.3.2
select count(city_id) from city where population>1000000

Задание 3.1.4.1
select cust_type, avg(annual_revenue) from customer group by cust_type

Задание 3.1.4.2
select cust_type, avg(annual_revenue) from customer group by cust_type  having avg(annual_revenue) > 25000000

Задание 3.1.5.1 
select last_name from driver where phone is null

Задание 3.1.6.1