In [83]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import collections

In [84]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1000,tt1915581,7000000,167221571,Magic Mike,Channing Tatum|Matthew McConaughey|Olivia Munn...,Steven Soderbergh,Work all day. Work it all night.,"Mike, an experienced stripper, takes a younger...",110,Drama|Comedy,Nick Wechsler Productions|Extension 765,6/28/2012,6.1,2012
481,tt1302067,80000000,201584141,Yogi Bear,Dan Aykroyd|Justin Timberlake|Anna Faris|Tom C...,Eric Brevig,Life's a Pic-A-Nic,"Jellystone Park has been losing business, so g...",80,Comedy|Family|Animation|Adventure,De Line Pictures|Warner Bros. Animation|Sunswe...,12/11/2010,5.1,2010
1647,tt0327437,110000000,72178895,Around the World in 80 Days,Jackie Chan|Steve Coogan|CÃ©cile De France|Rob...,Frank Coraci,Let your imagination soar.,"A bet pits a British inventor, a Chinese thief...",120,Action|Adventure|Comedy,Studio Babelsberg|Walden Media|Babelsberg Film...,6/16/2004,5.6,2004
1008,tt1482459,70000000,348840316,The Lorax,Zac Efron|Danny DeVito|Taylor Swift|Ed Helms|R...,Chris Renaud|Kyle Balda,Meet The Original Force Of Nature,A 12-year-old boy searches for the one thing t...,86,Animation|Family,Universal Pictures|Illumination Entertainment,3/1/2012,6.3,2012
1782,tt0469623,16000000,2849142,Things We Lost in the Fire,Halle Berry|Benicio del Toro|David Duchovny|Al...,Susanne Bier,Hope comes with letting go.,A recent widow invites her husband's troubled ...,113,Drama,DreamWorks SKG|Neal Street Productions|DreamWo...,9/26/2007,6.5,2007

In [85]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [86]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
# создаем новую колонку "профит" в загруженном датафрейме и записываем в нее результат 
data['profit']=data['revenue']-data['budget']

#вопрос 15
data_2012 = data[data.release_year == 2012]    #отбор в новый дa по году
data_2012.cast = data_2012.cast.str.split('|') #разбиваем разделителем
data_2012 = data_2012.explode('cast')          #взрываем строки по полю cast

#вопрос17
'''формируем датафрейм по условию участия в нем нужного актера что бы не сплитовать 
даныне по акттерам используем метод contains'''
df_nik = data[data.cast.str.contains ('Nicolas Cage')]

#сплитуем данные по жанрам 
df_nik.genres = df_nik.genres.str.split('|')
df_nik = df_nik.explode('genres')

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...
genres_list = data.genres.str.split('|').sum()  # создаем список всех жанров
genres_unique = []                              # создаем новый список жанров, "очищенный" от дубликатов

#вопрос 16
#формируем отдельный датафрейм по полям
df_budget = data[['cast','budget','original_title']]
#сплитуем по полюс каст и взрываем
df_budget.cast = df_budget.cast.str.split('|')
df_budget = df_budget.explode('cast')

def genres_max():
    
    return df_genres[df_genres['count']==df_genres['count'].max()]

#функция конвертации номера месяца в удобочитаемый формат
def m(a):
    if a==1:
        return "Январь"
    elif a==2:
        return"Февраль"
    elif a== 3:
        return "Март"
    elif   a == 4:
        return "Апрель"
    elif  a == 5:
        return "Май"
    elif  a == 6:
        return "Июнь"
    elif  a == 7:
        return "Июль"
    elif a == 8:
        return "Август"
    elif a==9:
        return "Сентябрь"
    elif a==10:
        return "Октябрь"
    elif a==11:
        return "Ноябрь"
    elif a==12:
        return "Декабрь"
#функция вычисления длинны ячейки    
def maxlen(i):
    return len(i)

C:\Users\User\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [87]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [120]:
# тут пишем ваш код для решения данного вопроса:

answers['1']=data[data.budget==data.budget.max()].original_title.iloc[0]
answers['1']

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [89]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [90]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2']=data[data.runtime==data.runtime.max()].original_title.iloc[0]
answers['2']

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [91]:
answers['3']=data[data.runtime==data.runtime.min()].original_title.iloc[0]
answers['3']

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [92]:
answers['4']=round(data.runtime.mean())
answers['4']

110

# 5. Каково медианное значение длительности фильмов?

In [93]:
answers['5']=round(data.runtime.median())
answers['5']

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [94]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = data[data.profit==data.profit.max()].original_title.iloc[0]
answers['6']

'Avatar'

# 7. Какой фильм самый убыточный?

In [95]:
answers['7'] = data[data.profit==data.profit.min()].original_title.iloc[0]
answers['7']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [96]:
answers['8'] = len(data[data.revenue > data.budget])
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [97]:
answers['9'] = data[(data.vote_average==data.vote_average.max()) & (data.release_year==2008)]['original_title'].iloc[0]
answers['9']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [98]:
answers['10'] = data[(data.profit==data.profit.min()) & (data.release_year>=2012) & (data.release_year<=2014)]['original_title'].iloc[0]
answers['10']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [125]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале


answers['11']=genres_max().genres.iloc[0]
answers['11']

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [117]:
df = data[data.profit > 0][['genres']] #получаем датафрейм с жанрами кто заработал
df.genres = df.genres.str.split('|')   #делим на жанры через разделитель
df = df.explode('genres')              #используем функцию explode что бы разбить на строки с уникальными полями
df2=df.genres.value_counts()

answers['12']= df2[df2==df2.max()].index[0]    # тот жанр у кого чаще всего прибыль
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [101]:
# используем групповую обработку по режиссерам и суммируем по выручке + сортировка по убыванию
data_director_rev = data.groupby(['director'])['revenue'].sum().sort_values(ascending = False)
answers['13'] = data_director_rev.loc[[data_director_rev.idxmax()]].index[0] #выбираем по индексу режиссера
answers['13']

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [102]:
# фильтрация датафрейма по наличию жанра и сплита директоров через разделитель
data_genres_action = data[data.genres.str.contains('Action')].director.str.split('|').explode().value_counts()
answers['14'] = data_genres_action[data_genres_action==data_genres_action.max()].index[0]
answers['14']

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [103]:


#преобразуем результат группировки по полю cast с суммированием сборов и сортировкой по убыванию
df = pd.DataFrame(data_2012.groupby(['cast']).revenue.sum().sort_values(ascending = False)) 

answers['15']=df.index[0] #берем 0 индекс в дата фрейме где и находится ответ
answers['15']

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [104]:

#формируем датафрейм по условию высокобюджетных фильмов 
df = df_budget[df_budget.budget > df_budget.budget.mean()]['cast']

df2=pd.DataFrame(df.value_counts())
answers['16']=df2.index[0]
answers['16']

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [105]:

#формируем датафрейм из серии и берем макс значение 
df2 = pd.DataFrame(df_nik.genres.value_counts())
answers['17']=df2.index[0]
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [106]:
#выборка по компании
df = data[data.production_companies.str.contains('Paramount Pictures')]
#abkmnhfwbz данных
df2=df[df.profit==df.profit.min()]
answers['18']=df2.iloc[0].original_title
answers['18']

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [107]:
#выборка по компании
df = pd.DataFrame(data.groupby(['release_year']).profit.sum().sort_values(ascending = False))
answers['19'] = df.index[0]
answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [108]:
#выборка по компании
df = data[data.production_companies.str.contains('Warner Bros')]
#конвертируем в датафрейм результат группировки и сортировки
df2 = pd.DataFrame(df.groupby(['release_year']).profit.sum().sort_values(ascending = False))
answers['20'] = df2.index[0]
answers['20']

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [109]:
#создаем новый дф по двум полям
df = data[['release_date','imdb_id']]
#добавляем новую колонку и сплитуем с выбором результата по индексу месяца
df['month'] = df.release_date.str.split('/', n=3, expand = True)[0]
#конвертируем в датафрейм результат группировки и сортировки
df2 = pd.DataFrame(df.month.value_counts().sort_values(ascending=False))
#применяем функцию определения месяца в читаемом формате 
answers['21'] = m(int(df2.index[0]))
answers['21']

<ipython-input-109-a6f71b0d5bb0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df.release_date.str.split('/', n=3, expand = True)[0]

'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [110]:
#сформировали новы дф по датам и id фильмов
df = data[['release_date','imdb_id']]

#разпарсили месяцы в отдельную колонку датафрейма
df['month'] = df.release_date.str.split('/', n=3, expand = True)[0]
#сформировали отдельный дф с уникальными значениями по каждому месяцу, сбросили индексы
df2 = pd.DataFrame(df.month.value_counts().sort_values(ascending=False)).reset_index()
#переназначем индексы с новыми именами для удобства доступа
df2 = df2.rename(columns={'index':'month', 'month':'counter'})
#jn,jh данных по условию и суммирование по полю
df2[df2['month'].isin(['6','7','8'])].counter.sum()
answers['22'] = df2[df2['month'].isin(['6','7','8'])].counter.sum()
answers['22']

<ipython-input-110-3277dd215710>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df.release_date.str.split('/', n=3, expand = True)[0]

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [111]:
'''cамое продуктивное время года, время года в котором вышли больше всего фильмов! найдем соотвтетсвие '''
#сформировали новый дф по датам и режисерам 
df = data[['release_date','director']]
#через сплит разбираем поле даты и размещаем в новую колонку, берем только 0 элемент который меся
df['month'] = df['release_date'].str.split('/', n=3, expand=True)[0]
#создаем новый дф с месяцем и режиссером
df = df[['month','director']]
#ерез сплит разбираем поле жежиссеров и размещаем в новую колонку далее взрываем через explode
df.director = df.director.str.split('|')
df = df.explode('director')
#формируем новую колонку для всех записей равную 1 которая будет фыполнять функцию счетчика 
df['counter'] = 1
#фильтруем данные и группируем применяя агрегирующую функцию суммирования по полю счетчика
df[df.month.isin(['12','1','2'])].groupby(['director'])['counter'].sum().sort_values(ascending=False)
#т.к. выше была проведена сортировка по убыванию, берем элемент 0 индекса который будет содержать ответ
answers['23'] = df[df.month.isin(['12','1','2'])].groupby(['director'])['counter'].sum().sort_values(ascending=False).index[0]
answers['23']

<ipython-input-111-f1ba176a25ea>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['release_date'].str.split('/', n=3, expand=True)[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [112]:
#формируем датафрейм по компаниям и названиям
data_len = data[['production_companies','original_title']]

#применяем стандартную функцию поиска длинны к полю названия фильма
data_len['title_len'] = data_len.original_title.apply(len)

#уже станадртная функция разбивки по разделителю
data_len.production_companies = data_len.production_companies.str.split('|')
#привычный нам эксплод, для получения строк с разными компаниями
data_len = data_len.explode('production_companies')
#группировка по компаниям с поиском среднего значния длинны названий (высокое среднее значения 
#дает самые длинные название я всреднем)
#стандартной функцией с последующей сортировкой полученных значений
data_len = data_len.groupby(['production_companies'])['title_len'].mean().sort_values(ascending = False)
#берем первый элемент с индексом 0 и помещаем в переменную списка с ответом
answers['24'] = data_len.index[0]
answers['24']

<ipython-input-112-8d20afef822d>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_len['title_len'] = data_len.original_title.apply(len)

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [113]:
#формируем датафрейм по компаниям и описаниям
df_o= data[['production_companies','overview']]
#считаем кол-во слов в описании и помещаем их в отдельную ячейку
df_o['overview_mean_len'] = df_o.overview.str.split(' ').apply(len)
#уже станадртная функция разбивки по разделителю 
df_o.production_companies = df_o.production_companies.str.split('|') 
df_o = df_o.explode('production_companies') #explode по компаниям
#группировка по компаниям с подсчетом среднего значения в ячейки длинны описания и сортировкой
df_o = df_o.groupby(['production_companies'])['overview_mean_len'].mean().sort_values(ascending = False)
  
answers['25'] = df_o.index[0]
answers['25']

<ipython-input-113-0cd44f57278b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_o['overview_mean_len'] = df_o.overview.str.split(' ').apply(len)

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [114]:
df_va = data[['original_title','vote_average']]
df_va = df_va.groupby(['original_title'])['vote_average'].max().sort_values(ascending = False)
df_va = pd.DataFrame(df_va).reset_index()
df_va.iloc[0:round(0.01*len(df_va))]
answers['26'] = df_va.iloc[0:round(0.01*len(df_va))]
answers['26']

                                       original_title  vote_average
0                                     The Dark Knight           8.1
1                                  The Imitation Game           8.0
2                                          Inside Out           8.0
3                                        Interstellar           8.0
4                                                Room           8.0
5                            The Grand Budapest Hotel           7.9
6                                         The Pianist           7.9
7                             Guardians of the Galaxy           7.9
8                                             Memento           7.9
9                             The Wolf of Wall Street           7.9
10                                          Inception           7.9
11                                          Gone Girl           7.9
12                                   12 Years a Slave           7.9
13      The Lord of the Rings: The Return of the King           7.9
14                                          Prisoners           7.8
15                             The Fault in Our Stars           7.8
16              Eternal Sunshine of the Spotless Mind           7.8
17                                       The Prestige           7.8
18  The Lord of the Rings: The Fellowship of the Ring           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [126]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26':                                        original_title  vote_average
 0                                     The Dark Knight           8.1
 1                                  The Imitation Game           8.0
 2                                          Inside Out           8.0
 3                                        Interstellar           8.0
 4                                                Room           8.0
 5                            The Grand Budapest Hotel           7.9
 6                                         The Pianist           7.9
 7                             Guardians of the Galaxy           7.9
 8                                             Memento           7.9
 9                             The Wolf of Wall Street           7.9
 10                                          Inception           7.9
 11                                          Gone Girl           7.9
 12                                   12 Years a Slave           7.9
 13      The Lord of the Rings: The Return of the King           7.9
 14                                          Prisoners           7.8
 15                             The Fault in Our Stars           7.8
 16              Eternal Sunshine of the Spotless Mind           7.8
 17                                       The Prestige           7.8
 18  The Lord of the Rings: The Fellowship of the Ring           7.8}

In [116]:
# и убедиться что ни чего не пропустил)
len(answers)

26