### Задание 4.1

In [ ]:
select city, count(airport_name) Qty 
from dst_project.airports 
group by 1 
having count(airport_name)>1 
order by 2 desc

### Задание 4.2

In [ ]:
#вопрос1 - 6
select count(distinct status) from dst_project.flights

#вопрос2 - 58
select count(status) from dst_project.flights where status='Departed'

#вопрос3 - 402
select count(seat_no) from dst_project.seats where aircraft_code='773'

#вопрос4 - 74227
select count(*)
from dst_project.flights
where (actual_arrival between '2017-04-01' and '2017-09-01') and (status = 'Arrived')

### Задание 4.3

In [ ]:
#вопрос1 - 437
select count(*) from dst_project.flights where status='Cancelled'

#вопрос2 - 

SELECT 'Airbus', count(*)
FROM dst_project.aircrafts a
WHERE a.model LIKE 'Airbus%'
union all
SELECT 'Boeing', count(*)
FROM dst_project.aircrafts a
WHERE a.model LIKE 'Boeing%'
union all
SELECT 'Sukhoi', count(*)
FROM dst_project.aircrafts a
WHERE a.model LIKE 'Sukhoi%'

#вопрос3 - Europe/Asia
select timezone, count(airport_code) from dst_project.airports group by timezone order by 2 desc


#вопрос4 - 157571
SELECT f.flight_id,  
(f.actual_arrival - f.scheduled_arrival) delta
FROM dst_project.flights AS f WHERE f.actual_arrival IS NOT NULL
order by 2 desc

### Задание 4.4

In [ ]:
#вопрос1 - 14.08.2016
select scheduled_departure from dst_project.flights order by 1 asc limit 1

#вопрос2 - 530
SELECT EXTRACT(EPOCH FROM AGE(f.scheduled_arrival, f.scheduled_departure))/60 delta, departure_airport, arrival_airport
FROM dst_project.flights AS f WHERE f.scheduled_arrival IS NOT NULL or f.scheduled_arrival is not null
order by 1 desc limit 1 

#вопрос3 - DME -UUS
SELECT EXTRACT(EPOCH FROM AGE(f.scheduled_arrival, f.scheduled_departure))/60 delta, departure_airport, arrival_airport
FROM dst_project.flights AS f WHERE f.scheduled_arrival IS NOT NULL or f.scheduled_arrival is not null
order by 1 desc limit 1 

#вопрос4 - 128
select round(avg(A.delta)) from
(

SELECT EXTRACT(EPOCH FROM AGE(f.scheduled_arrival, f.scheduled_departure))/60 delta, departure_airport, arrival_airport
FROM dst_project.flights AS f WHERE f.scheduled_arrival IS NOT NULL or f.scheduled_arrival is not null
order by 1 desc


) as A

### Задание 4.5

In [ ]:
#вопрос1 - Economy 85
select distinct B.fare_conditions, count(*)
from 
(
select * from dst_project.aircrafts ac
join dst_project.seats acs on ac.aircraft_code = acs.aircraft_code where ac.aircraft_code='SU9'
) as B 
group by 1
order by 2 desc limit 1