### [John VIESCAS Michael HERNANDEZ  SQL Queries for mere mortals](01_John_VIESCAS_Michael_HERNANDEZ__SQL_Queries_for_mere_mortals.pdf)  
pdf located in same dir as this notebok, will not work if your move pdf or this notebook

#### [for SQLite syntax diagrams](https://sqlite.org/syntaxdiagrams.html)  
#### [7 программ для построения блок-схем](https://levashove.ru/7-besplatnyh-programm-dlya-postroeniya-blok-shem-v-windows-10/)  
#### [Dia Diagram Editor](http://dia-installer.de/index.html.en)  
### [Algorithm Flowchart editor](https://viktor-zin.github.io/afce/)

### Table of Contents   = NOT DONE YET

**[1. Markdown](#heading--1)**

  * [1.1. Markdown formatting cheatsheet](#heading--1-1)
  * [1.2. Markdown formatting details](#heading--1-2)

**[2. BBCode formatting](#heading--2)**

  * [2.1. Basic text formatting](#heading--2-1)

      * [2.1.1. Not so basic text formatting](#heading--2-1-1)

  * [2.2. Lists, Images, Code](#heading--2-2)
  * [2.3. Special features](#heading--2-3)

----

Логин: demo7@skillfactory.ru
Пароль: _37m8r2MT2texd
Если у вас возникают проблемы с доступом (например, не открывается Metabase из-за 
заблокированного порта 3000), смело пишите в Slack!
Support  2 months ago:
Логин: demo1@skillfactory.ru Пароль:NO-LLaQKuc?_G7
Логин: demo2@skillfactory.ru Пароль: _WiDeiZpUOMf58
Логин: demo3@skillfactory.ru Пароль: JiDvzwIEV5gbyH
Логин: demo4@skillfactory.ru Пароль: no9ok4G9nBnqDH
Логин: demo5@skillfactory.ru Пароль: cIwzNp68vFuTBo

Вот ссылка на [Metabase](http://sql.skillfactory.ru:3000/)  

Посмотреть [учетные данные](https://lms.skillfactory.ru/courses/course-v1:Skillfactory+DST-PRO+15APR2020/0afa28dd5f474b0f92c7d0102835b10b/)

[Приложение J. Демонстрационная база данных «Авиаперевозки»](https://postgrespro.ru/docs/postgrespro/10/demodb-bookings)

**01_Энтони_МОЛИНАРО__SQL_Сборник_рецептов**  
**02_Chris_FEHILY__SQL_Visual_QuickStart_Guide**  
**02_NoC_Крис_ФИАЙЛИ__SQL_Быстрый_старт**  
**02_NoC_Крис_ФИАЙЛИ__SQL_Быстрый_старт**  
**15_Rudy_LIMEBACK__Simply_SQL**  
**20_John_VIESCAS_Michael_HERNANDEZ__SQL_Queries_for_mere_mortals**  
**30_Larry_ROCKOFF__The_Language_of_SQL**  

not so usefull:  
21_John_VIESCAS_SQL_61_Specific_Ways_to_Write_Better_SQL  
40_Thomas_NIELD_Getting_Started_with_SQL  
80_GROFF_WEINBERG_OPPELl_SQL_Complete_Reference  
80_ГРОФФ_ВАЙНБЕРГ_ОППЕЛЬ_SQL_Полное_руководство  
97_Peter_ROBSON_Stephane_FAROULT_The_Art_of_SQL (for dev)  
98_Michael_HERNANDEZ_Database_Design_for_Mere_Mortals  
99_Chris_DATE_SQL_and_Relational_Theory  
99_Крис_ДЕЙТ_SQL_и_реляционная_теория  
100_SQL_and_Relational_Theory_3rd_Edition  

101_Alan_BEAULIEU_Learning_SQL_EN  
101_NoC_Алан_БЬЮЛИ_Изучаем_SQL  
102_Мартин_ГРУБЕР_SQL_для_простых_смертных  
103_Мартин_ГРУБЕР_Понимание_SQL  
104_NoC_Линн_БЕЙЛИ_Изучаем_SQL  
105_NoC_Алекс_Кригель_Борис_Трухнов_SQL_Библия  
106_Antony_De_BARROS_Practical_SQL  
107_Paul_DuBOIS_MySQL_Cookbook  
200_NoC_Robert_PEARL_Healthy_SQL
201_Sylvia_VASILIK_SQL_Practice_Problems

В качестве нашей учебной СУБД используется **PostgreSQL версии 11**  

Как справочник вы можете использовать [англоязычную](https://www.postgresql.org/docs/11/index.html)   или [русскоязычную документацию](https://postgrespro.ru/docs/postgresql/11/index.html)

**Metabase** — это бесплатный и удобный инструмент для запросов к БД. Также он позволяет визуализировать отчёты и объединять их в дашборды (но это не будет темой нашего курса).

In many RDBMS programs, a **view** is commonly implemented and referred to as a **saved query** or, more simply, a **query**

The SELECT operation in SQL can be broken down into three smaller operations, which we
will refer to as the  
+ SELECT statement  
+ SELECT expression
+ SELECT query.   
Each of these operations provides its own set of keywords and clauses

In other books about relational databases, you’ll sometimes see the word  
+ **relation** used for **table**,  
and you might encounter 
+ **tuple or record for row** 
+ and perhaps **attribute or field for column**  
However, the SQL Standard specifically uses the terms table, row,
and column to refer to these particular elements of a database structure

When you create and execute a SELECT **statement**, you are querying the database
In fact, many RDBMS programs allow you to save a SELECT statement as a
query, view, function, or stored procedure. Whenever someone says she is going to query the
database, you know that she’s going to execute some sort of SELECT statement
Depending on
the RDBMS program, SELECT statements can be executed directly from a command line
window, from an interactive Query by Example (QBE) grid, or from within a block of
programming code. Regardless of how you choose to define and execute it, the syntax of the
SELECT statement is always the same.

**SELECT**—This is the primary clause of the SELECT statement and is absolutely
required.  
You use it to **specify the columns (fields)** you want in the result set of your query.  
The columns themselves are drawn **from the table or view you specify in the FROM** clause.  
You can also draw them from **several tables simultaneously**.  

You can also use in this clause **aggregate functions**, such as Sum(HoursWorked),  
or **mathematical expressions**, such as **"Quantity * Price"**

**FROM** —This is the second most important clause in the SELECT statement and is also
required.  
You use the FROM clause to **specify the tables or views** from which to draw
the columns you’ve listed in the SELECT clause.  
You can use this clause in more complex ways, but we’ll discuss this in later chapters

**WHERE** —This is an **optional** clause that you use to **filter the rows**  returned by the FROM clause.  
The WHERE keyword is followed by an **expression, technically known
as a predicate, that evaluates to true, false, or unknown**

**GROUP BY** —When you use aggregate functions in the SELECT clause to produce
summary information, you use the GROUP BY clause to divide the information into
distinct groups. Your database system uses **any column or list of columns** following the
GROUP BY keywords as grouping columns

**HAVING**—The HAVING clause **filters the result of aggregate functions in grouped information**

##### select ALL columns = SELECT * FROM ...

Eliminating **Duplicate Rows** = **DISTINCT**  same as unique()  
You can use the DISTINCT keyword on multiple columns as well  
SELECT DISTINCT City, State FROM Bowlers
The DISTINCT keyword is a very useful tool under the right circumstances.  
Use it only when you really want to see unique rows in your result set.

The only way to **sort the result set** is to embed
the SELECT statement within a SELECT query  

We define a SELECT **query** as a SELECT **statement with an ORDER BY clause**

you can actually embed a SELECT **statement** within another SELECT **statement or SELECT expression**  
to answer very complex questions.  
However, the SELECT **query cannot be embedded at any level**.

Earlier versions of the SQL Standard,
however, defined the ORDER BY clause as part of a cursor (an object that you define
inside an application program), as part of an array (a list of values that form a logical
table such as a subquery, discussed in Chapter 11, “Subqueries”), or as part of a scalar
subquery (a subquery that returns only one value). A complete discussion of cursors
and arrays is beyond the scope of this book.

The latest 2011 standard uses the term <query specification> for what we call a
SELECT statement and the term <query expression> for the construct that we have
called SELECT query. In this one case, we’ll deviate (with your permission) from the
names in the standard and use our terminology.

The only columns you can use in the **ORDER BY** clause are those
that are currently listed in the SELECT clause. (Although this requirement is specified in the
SQL Standard, some vendor implementations allow you to disregard it

SELECT EmpLastName, EmpFirstName, EmpPhoneNumber,
EmployeeID
FROM Employees
ORDER BY EmpLastName DESC, EmpFirstName ASC

#### To get more than simple columns, you need to create an expression

The SQL Standard defines seven general categories of types of data—character, national
character, binary, numeric, Boolean, datetime, and interval

#### The CAST function converts a literal value or the value of a column into a specific data type.

character string literals you can define
'This is a sample character string literal.'
'Here"s yet another!'
'B-28'
'Seattle'

SQL
'The Vendor"s name is: '
Displayed as
The Vendor’s name is:

SELECT VendWebPage, 'is the Web site for',
VendName
FROM Vendors

The format for a date literal is year-month-day
'2007-05-16'
'2016-11-22'
'21:00'
'03:30:25'
'2008-09-29 14:25:00'

in MySQL:
CAST('2016-11-22' AS DATE)
CAST('03:30:25' AS TIME)
CAST('2008-09-29 14:25:00' AS DATETIME)

'Mike' || 'Hernandez'
= MikeHernandez

CompanyName || ' is based in ' || City
= DataTex Consulting Group is based in Seattle

EntStageName || ' was signed with our agency on '
|| CAST(DateEntered as CHARACTER(10))
= Modern Dance was signed with our agency on 1995-05-16 

Note ! We specified an explicit length for the CHARACTER data type because the SQL
Standard specifies that the absence of a length specification defaults to a length of 1.

Of the major database systems, we found that only IBM’s DB2 and Informix and
Oracle’s Oracle support the SQL Standard operator for concatenation. Microsoft
Office Access supports **& and + as concatenation operators, Microsoft SQL Server and
Ingres support +, and in MySQL you must use the CONCAT function. In all the
examples in the book, we use the SQL Standard || operator**

TotalLength + CAST(Distance AS INTEGER)

DATE plus or minus INTERVAL yields DATE
DATE minus DATE yields INTERVAL
INTERVAL plus DATE yields DATE
INTERVAL plus or minus INTERVAL yields INTERVAL
INTERVAL times or divided by NUMBER yields INTERVAL
ReviewDate + 90
EstimateDate – DaysRequired
'2012-07-22' – '2012-06-13'
ShipDate – OrderDate
'14:00' + '00:22'
'19:00' – '16:30'
StartTime + '00:19'
StopTime – StartTime

For example, the result set for the following SELECT statement
will contain three columns—two “real” columns and one calculated column:
SELECT EmpFirstName || ' ' || EmpLastName AS MyNewEmpName,
EmpPhoneNumber, EmpCity
FROM Employees

SELECT StfLastName || ', ' || StfFirstName
AS Staff, Salary, Salary * 0.07 AS Bonus
FROM Staff

**WHERE** - Filtering Your Data

SELECT CustLastName
FROM Customers
WHERE CustLastName = 'Smith'

The SQL Standard defines 18 predicates, but we’ll cover the five basic ones in this chapter:
Comparison, BETWEEN, IN, LIKE, and IS NULL.

**COMPARISON**  
Use one of the six comparison operators to compare one value expression to another value expression. The six operators and their meanings are:  
+  = equal to
+ **\<> not equal to**  
+ \< less than
+ \> greater than
+ \<= less than or equal to
+ \>= greater than or equal to

**BETWEEN** (RANGE) You specify the range using two value expressions separated by the AND keyword

**IN** (MEMBERSHIP)

**LIKE** (PATTERN MATCH)

**IS NULL**

Don’t worry too much about the other 11 predicates defined in the current SQL Standard  
(Similar, Regex, Unique, Normalized, Match, Overlaps, Distinct, Member, Submultiset, Set, and Type)  
We could not find **any commercial implementation of 11 of them**.  
We’ll cover the other two — **Quantified and EXISTS** — in Chapter 11, “Subqueries.”

SELECT CustFirstName, CustLastName
FROM Customers
WHERE CustState = 'WA'

SELECT AgtFirstName, AgtLastName
FROM Agents
WHERE DateHired = '1977-03-14'

There’s one “gotcha” about using **BETWEEN . . . AND**. 
The SQL Standard actually defines **two types of BETWEEN comparisons: ASYMMETRIC and SYMMETRIC. The default, ASYMMETRIC** but there are no such keyword

#### MyColumn BETWEEN 10 AND 5  ==  MyColumn >=10 AND MyColumn <= 5  which can never be true!

#### BETWEEN operator includes the start and end points in the range.

SELECT FirstName, LastName
FROM Staff
WHERE DateHired
    BETWEEN '1986-07-01' AND '1986-07-31'

last name begins with the letter ‘B’  =>  WHERE StudLastName BETWEEN 'B' AND 'Bz'

WHERE '2012-10-10' BETWEEN StartDate AND EndDate

**IN** - Set Membership

SELECT EntStageName
FROM Entertainers
WHERE EntCity
    IN ('Seattle', 'Redmond', 'Bothell')

**LIKE** - Pattern Match

подстановка % это *, _ это один символ , case sensitive !
WHERE CustLastName LIKE 'Mar%'
contains the word ‘Forest’ =>  LIKE '%Forest%'

product codes beginning with ‘G_00’ and ending in a single number or letter such as G_002 and G_00X
WHERE ProductCode LIKE 'G\_00_' ESCAPE '\'

#### IS NULL

Null does not represent a zero or a zero-length character string
Null does represent a missing or unknown value

Washington, D.C. (Washington, by the way, is the only city in the entire United States that isn’t
situated within a county.)

WHERE ContractPrice IS NULL , искать <ValueExpression> = Null НЕЛЬЗЯ !!!

also **NOT BETWEEN, NOT IN, NOT LIKE, NOT IS NULL**

WHERE OrderDate NOT BETWEEN '2012-10-01' 
    AND '2012-10-31'

WHERE Title
NOT IN ('Professor', 'Associate Professor')

#### Using Multiple Conditions

WHERE CustCity = 'Seattle'
    AND CustLastName LIKE 'H%'

WHERE StfCity = 'Seattle' OR StfState = 'Da'

WHERE (StfAreaCode = '425'
    AND StfPhoneNumber LIKE '555%')
OR DateHired
    BETWEEN '2007-10-01' AND '2007-12-31'

WHERE (Title = 'Professor' OR Title =
    'Associate Professor') AND DateHired =
    '1989-05-16'

WHERE CustomerID = 1001
    OR ShipDate = OrderDate + 4

#### system should evaluate AND before OR, but better to use ()

WHERE (CustLastName = 'Patterson' AND CustState = 'CA')
    OR CustZipCode LIKE '%9'

WHERE CustLastName = 'Patterson' AND (CustState = 'CA'
    OR CustZipCode LIKE '%9')

Checking for Overlapping Ranges

WHERE StartDate BETWEEN '2012-11-12' AND '2012-11-18'   # BAD (4 ranges)
    AND EndDate BETWEEN '2012-11-12' AND '2012-11-18'

WHERE (StartDate BETWEEN '2012-11-12' AND '2012-11-18'
AND EndDate BETWEEN '2012-11-12' AND '2012-11-18')
OR (StartDate <= '2012-11-12')
AND EndDate BETWEEN '2012-11-12' AND '2012-11-18')
OR (StartDate BETWEEN '2007-11-12' AND '2012-11-18'
AND EndDate >= '2012-11-18')
OR (StartDate <= '2012-11-12'
AND EndDate >= '2012-11-18')

WHERE StartDate <= '2012-11-18'
AND EndDate >= '2012-11-12'

A = B. If either A or B for a given row is the Null value, then the result of the
comparison is unknown.

ОПАСНОСТЬ  OR  ! 
WHERE Title = 'Graduate Counselor'  # если тут пусто, то вторая часть выдаст перечень
OR DateHired = '2007-09-01'
= >  test any columns you’re using as criteria with the Null condition
WHERE Title IS NULL

### Variants

DateHired BETWEEN '2007-10-01' AND '2007-10-31'
DateHired >= '2007-10-01' AND DateHired <= '2007-10-31'

VendState IN ('CA', 'OR', 'WA')
VendState = 'CA' OR VendState = 'OR' OR VendState = 'WA'

CustLastName >= 'H' AND CustLastName <= 'HZ'
CustLastName BETWEEN 'H' AND 'HZ'
CustLastName LIKE 'H%'

StudCity <> 'Seattle' AND StudCity <> 'Redmond'
StudCity NOT IN ('Seattle', 'Redmond')
NOT (StudCity = 'Seattle' OR StudCity = 'Redmond')

SELECT IngredientName FROM Ingredients
    WHERE (IngredientClassID = 2)
    AND (IngredientName NOT LIKE '%chicken%')

### The only way to sort the result set is to embed the SELECT statement within a SELECT query

### Working with Multiple Tables  - with IN - JOIN  потом

The sad news is that not many commercial implementations of SQL yet support the
INTERSECT operator

#### Finding Common Values: INTERSECT

SELECT DISTINCT OrderNumber  # Primary Key in tabl 1
FROM Order_Details      
WHERE ProductNumber IN (1, 2, 6, 11)
INTERSECT
SELECT DISTINCT OrderNumber  # Primary Key in tabl 2 should be equal !
FROM Order_Details
WHERE ProductNumber IN (10, 25, 26)

#### Finding Missing Values: EXCEPT (DIFFERENCE)

BAD :
WHERE ProductNumber IN (..byke)
AND ProductNumber NOT IN (... helmet)

SELECT DISTINCT OrderNumber
FROM Order_Details
WHERE ProductNumber IN (.. byke)
EXCEPT
SELECT DISTINCT OrderNumber
FROM Order_Details
WHERE ProductNumber IN (.... helmet)

The sad news is that not many commercial implementations of SQL yet 
support the EXCEPT operator

#### Combining Sets: UNION  for ONE table

SELECT DISTINCT OrderNumber   # data belong to ONE table !
FROM Order_Details
WHERE ProductNumber IN (...belongs to bikes)
UNION
SELECT DISTINCT OrderNumber
FROM Order_Details
WHERE ProductNumber IN (... belongs to helmets)

The good news is that nearly all commercial implementations of SQL 
support the UNION operator.

#### INNER JOINs  - default

JOIN можно делать только по “JOIN eligible” data types 
char to char, num to num, date to date

+ The linking columns must have the same data meaning for the JOIN to make sense.

you provide a **column reference** that **includes the table name** = table_name.ТОЧКАcolumn_name

![Figure 8_2 The syntax diagram of a query using an INNER JOIN on two tables](Figure_8_2_INNER_JOIN.png)

SELECT Employees.FirstName, Employees.LastName,
    Employees.PhoneNumber
FROM Employees

To solve the JOIN, your database
system logically combines every row in the first table with every row in the second table.  
(This combination of all rows from one table with all rows from a second table  
is called a **Cartesian product**.

SELECT RecipeTitle, Preparation,
    RecipeClassDescription
FROM Recipe_Classes
INNER JOIN Recipes
ON Recipe_Classes.RecipeClassID =
    Recipes.RecipeClassID
    
or with full col names
SELECT Recipes.RecipeTitle,
Recipes.Preparation,
Recipe_Classes.RecipeClassDescription
FROM Recipe_Classes
INNER JOIN Recipes
ON Recipe_Classes.RecipeClassID = Recipes.RecipeClassID

In databases that do not    => USE WHERE
support JOIN, you solve our example problem like this:
SELECT Recipes.RecipeTitle, Recipes.Preparation,
    Recipe_Classes.RecipeClassDescription
FROM Recipe_Classes, Recipes
WHERE Recipe_Classes.RecipeClassID = Recipes.RecipeClassID

In the SQL Standard, you use the WHERE clause only to filter rows out 
of the result set defined by the FROM clause.

Show me the recipe title, preparation, and recipe class description 
of all recipes in my database

SELECT Recipes.RecipeTitle, Recipes.Preparation,
    Recipe_Classes.RecipeClassDescription
FROM Recipe_Classes
INNER JOIN Recipes
USING (RecipeClassID)

Some database systems do not yet support USING. If you find that you can’t use USING with
your database, you can always get the same result with an ON clause and an equals
comparison
If you specify NATURAL JOIN, an INNER join is assumed.

#### Assigning Correlation (Alias) Names to Tables

SELECT R.RecipeTitle, R.Preparation,
RC.RecipeClassDescription
FROM Recipe_Classes AS RC
INNER JOIN Recipes AS R
ON RC.RecipeClassID = R.RecipeClassID

SELECT R.RecipeTitle, R.Preparation,
RC.RecipeClassDescription
FROM Recipe_Classes AS RC
INNER JOIN Recipes AS R
ON RC.RecipeClassID = R.RecipeClassID
WHERE RC.RecipeClassDescription = 'Main course'
OR RC.RecipeClassDescription = 'Dessert'

In some cases, you must assign a correlation name to a table in a complex JOIN
если в запросе надо вызвать таблицу дважды (таб + как копию)

#### embedding a SELECT statement inside a FROM clause  
Some database systems do not support

втавлять результат seleсt в from
SELECT R.RecipeTitle, R.Preparation,
RCFiltered.ClassName
FROM (SELECT RecipeClassID,
RecipeClassDescription AS ClassName
FROM Recipe_Classes AS RC
WHERE RC.ClassName = 'Main course' OR
RC.ClassName = 'Dessert') AS RCFiltered
INNER JOIN Recipes AS R
ON RCFiltered.RecipeClassID = R.RecipeClassID

#### be sure  to include not only the columns you want to appear in the final result  
#### but also any linking columns needed to perform the JOIN

#### Embedding JOINs within JOINs
you’ll often need to link three, four, or more tables to get all the data you require

SELECT Recipe_Classes.RecipeClassDescription,
    Recipes.RecipeTitle, Recipes.Preparation,
    Ingredients.IngredientName,
    Recipe_Ingredients.RecipeSeqNo,
    Recipe_Ingredients.Amount,
    Measurements.MeasurementDescription
FROM (((Recipe_Classes
INNER JOIN Recipes
ON Recipe_Classes.RecipeClassID =
    Recipes.RecipeClassID)
INNER JOIN Recipe_Ingredients
ON Recipes.RecipeID =
    Recipe_Ingredients.RecipeID)
INNER JOIN Ingredients
ON Ingredients.IngredientID =
    Recipe_Ingredients.IngredientID)
INNER JOIN Measurements
ON Measurements.MeasureAmountID =
    Recipe_Ingredients.MeasureAmountID
ORDER BY RecipeTitle, RecipeSeqNo

SELECT Recipe_Classes.RecipeClassDescription,
    Recipes.RecipeTitle, Recipes.Preparation,
    Ingredients.IngredientName,
    Recipe_Ingredients.RecipeSeqNo,
    Recipe_Ingredients.Amount,
    Measurements.MeasurementDescription
FROM Recipe_Classes
INNER JOIN (((Recipes
INNER JOIN Recipe_Ingredients
ON Recipes.RecipeID =
    Recipe_Ingredients.RecipeID)
INNER JOIN Ingredients
ON Ingredients.IngredientID =
    Recipe_Ingredients.IngredientID)
INNER JOIN Measurements
ON Measurements.MeasureAmountID =
    Recipe_Ingredients.MeasureAmountID)
ON Recipe_Classes.RecipeClassID =
    Recipes.RecipeClassID
ORDER BY RecipeTitle, RecipeSeqNo

knowing the relationships between your tables is of utmost importance.

SELECT Categories.CategoryDescription,
    Products.ProductName
FROM Categories
INNER JOIN Products
    ON Categories.CategoryID = Products.CategoryID

“List the subjects taught on Wednesday.” Wednesday = is TRUE

SELECT DISTINCT Subjects.SubjectName
FROM Subjects
INNER JOIN Classes
    ON Subjects.SubjectID
    = Classes.SubjectID
WHERE Classes.WednesdaySchedule = -1

A false value is always the number zero (0). True can be 1.
but we chose to use a more universal “integer with all bits on” value: –1

“Find all the customers who ever ordered a bicycle helmet = 3 tables

SELECT DISTINCT Customers.CustFirstName,
    Customers.CustLastName
FROM ((Customers
INNER JOIN Orders
    ON Customers.CustomerID = Orders.CustomerID)
INNER JOIN Order_Details
    ON Orders.OrderNumber =
        Order_Details.OrderNumber)
INNER JOIN Products
    ON Products.ProductNumber =
        Order_Details.ProductNumber
WHERE Products.ProductName LIKE '%Helmet%'
Because a customer might have ordered a helmet more than once, we included the
DISTINCT keyword to eliminate duplicate rows

#### Looking for Matching Values

“Find all the customers who ordered a bicycle, then find all the customers who ordered a
helmet, and finally list the common customers so that we know who ordered both a
bicycle and a helmet.”

SELECT CustBikes.CustFirstName,
    CustBikes.CustLastName
FROM
    (SELECT DISTINCT Customers.CustomerID,
        Customers.CustFirstName,
        Customers.CustLastName
    FROM ((Customers
    INNER JOIN Orders
    ON Customers.CustomerID
       = Orders.CustomerID)
    INNER JOIN Order_Details
    ON Orders.OrderNumber =
        Order_Details.OrderNumber)
    INNER JOIN Products
    ON Products.ProductNumber =
        Order_Details.ProductNumber
    WHERE Products.ProductName LIKE '%Bike')
  AS CustBikes
INNER JOIN
    (SELECT DISTINCT Customers.CustomerID
    FROM ((Customers
    INNER JOIN Orders
    ON Customers.CustomerID = Orders.CustomerID)
    INNER JOIN Order_Details
    ON Orders.OrderNumber =
        Order_Details.OrderNumber)
    INNER JOIN Products
    ON Products.ProductNumber =
        Order_Details.ProductNumber
    WHERE Products.ProductName LIKE '%Helmet')
       AS CustHelmets
ON CustBikes.CustomerID =
    CustHelmets.CustomerID

We simplified the second embedded SELECT statement to fetch only the CustomerID
because that’s the only column we need for the INNER JOIN of the two sets to work.
We could have actually eliminated the JOIN to the Customers table and fetched the
CustomerID from the Orders table. Remember that you can think of a SELECT
Statement embedded in a FROM clause as a “logical table,” and we assigned a unique
name to each statement so that we could write the final ON clause.
You could also solve this problem as the INTERSECT of the two sets, but you would
need to include all the output columns in both of the result sets that you intersect.
Quite frankly, this might not be the best way to solve this problem. We’ll show you
how to solve this problem more efficiently in Chapter 11, “Subqueries,” when we
teach you how to use subqueries.

“List the entertainers who played engagements for both customers Berg and Hallmark.”

“Find all the entertainers who played an engagement for Berg, then find all the
entertainers who played an engagement for Hallmark, and finally list the common
entertainers so that we know who played an engagement for both.”

FROM
    (SELECT DISTINCT Entertainers.EntertainerID,
        Entertainers.EntStageName
    FROM (Entertainers
    INNER JOIN Engagements
    ON Entertainers.EntertainerID =
        Engagements.EntertainerID)
    INNER JOIN Customers
    ON Customers.CustomerID =
            Engagements.CustomerID
    WHERE Customers.CustLastName = 'Berg')
 AS EntBerg
INNER JOIN
    (SELECT DISTINCT Entertainers.EntertainerID,
        Entertainers.EntStageName
    FROM (Entertainers
    INNER JOIN Engagements
    ON Entertainers.EntertainerID =
        Engagements.EntertainerID)
    INNER JOIN Customers
    ON Customers.CustomerID =
        Engagements.CustomerID
    WHERE Customers.CustLastName = 'Hallmark')
  AS EntHallmark
ON EntBerg.EntertainerID =

This is another example of a request that can also be solved with INTERSECT. It can
also be solved more efficiently with subqueries, which you’ll learn about in Chapter
11.

#### 9. OUTER JOINs  page 289

An OUTER JOIN asks your database system to return not only the rows that match on the criteria you specify but aso the unmatched rows from either one or both of the two sets you want to link

all the action happens in the FROM clause 
If you
do not specify the type of JOIN you want, your database system assumes you want an INNER
JOIN. In this case, because you want an OUTER JOIN, you must explicitly state that you want
either a LEFT JOIN or a RIGHT JOIN. The OUTER keyword is optional.

#### The critical part of any JOIN is the ON or USING clause that follows the second table and tells your database system how to perform the JOIN

To solve the JOIN, your database system logically combines **every row in the first table with every row in the second table**.  
(This combination of all rows from one table with all rows from a second table is called a **Cartesian product**.)

It then **applies the criteria in the ON or USING clause to find the matching rows** to be returned.  
Because you asked for an OUTER JOIN, your database system **also returns the
unmatched rows from either the “left” or “right” table**

![Figure_8_2.png](Figure_8_2.png)

### what to use  = ON  or = USING keyword  
### Some database systems do not yet support USING

SELECT Recipes.RecipeTitle,
Recipes.Preparation,
Recipe_Classes.RecipeClassDescription
FROM Recipe_Classes
INNER JOIN Recipes
ON Recipe_Classes.RecipeClassID =
Recipes.RecipeClassID

SELECT Recipes.RecipeTitle, Recipes.Preparation,
Recipe_Classes.RecipeClassDescription
FROM Recipe_Classes
INNER JOIN Recipes
USING (RecipeClassID)

SELECT DISTINCT c.city_name
FROM shipping.city AS c
    JOIN shipping.shipment AS s
        USING (city_id)
WHERE s.weight < 10000
ORDER BY c.city_name ASC

### Embedding a SELECT Statement   p302

#### most SQL implementations let you substitute an entire SELECT
#### statement for any table name **in your FROM clause**  
#### Of course, you must then assign a **correlation name**

SELECT statement can include all query clauses except an ORDER BY clause  

Also, you can mix and match SELECT statements with table names on either side of the
OUTER JOIN keywords.

Let’s look at the Recipes and Recipe_Classes tables again. For this example, let’s also assume
that you are interested only in classes Salads, Soups, and Main courses. Here’s the query with
the Recipe_Classes table filtered in a SELECT statement that participates in a LEFT OUTER
JOIN with the Recipes table:

SELECT RCFiltered.ClassName, R.RecipeTitle
FROM
    (SELECT RecipeClassID,
        RecipeClassDescription AS ClassName
     FROM Recipe_Classes AS RC
    WHERE RC.ClassName = 'Salads'
        OR RC.ClassName = 'Soup'
        OR RC.ClassName = 'Main Course')
    AS RCFiltered
LEFT OUTER JOIN Recipes AS R
ON RCFiltered.RecipeClassID = R.RecipeClassID

You must be careful when using a SELECT statement in a FROM clause. First, when you
decide to substitute a SELECT statement for a table name, you must be sure **to include not only
the columns you want to appear in the final result but also any linking columns you need to
perform the JOIN.**

Just for fun, we gave RecipeClassDescription an alias name of
ClassName in the embedded statement. As a result, the SELECT clause asks for ClassName
rather than RecipeClassDescription. Note that the ON clause now references the correlation
name (RCFiltered) of the embedded SELECT statement rather than the original name of the
table or the correlation name we assigned the table inside the embedded SELECT statement.

You must be careful when using a SELECT statement in a FROM clause. First, when you
decide to substitute a SELECT statement for a table name, you must be sure to include not only
the columns you want to appear in the final result but also any linking columns you need to
perform the JOIN. That’s why you see both RecipeClassID and RecipeClassDescription in the
embedded statement. Just for fun, we gave RecipeClassDescription an alias name of
ClassName in the embedded statement. As a result, the SELECT clause asks for ClassName
rather than RecipeClassDescription. Note that the ON clause now references the correlation
name (RCFiltered) of the embedded SELECT statement rather than the original name of the
table or the correlation name we assigned the table inside the embedded SELECT statement.
As the query is stated for the actual Recipes sample database, you see one row with
RecipeClassDescription of Soup with a Null value returned for Recipe-Title because there are
no soup recipes in the sample database. We could just as easily have built a SELECT statement
on the Recipes table on the right side of the OUTER JOIN. For example, we could have asked
for recipes that contain the word “beef” in their titles, as in the following statement:
SQL
SELECT RCFiltered.ClassName, R.RecipeTitle
FROM
(SELECT RecipeClassID,
RecipeClassDescription AS ClassName
FROM Recipe_Classes AS RC
WHERE RC.ClassName = 'Salads'
OR RC.ClassName = 'Soup'
OR RC.ClassName = 'Main Course')
AS RCFiltered
LEFT OUTER JOIN
(SELECT Recipes.RecipeClassID, Recipes.Recipe
Title
FROM Recipes
WHERE Recipes.RecipeTitle LIKE '%beef%')
AS R
ON RCFiltered.RecipeClassID = R.RecipeClassID
Keep in mind that the LEFT OUTER JOIN asks for all rows from the result set or table on the
left side of the JOIN, regardless of whether any matching rows exist on the right side. The
previous query not only returns a Soup row with a Null RecipeTitle (because there are no soups
in the database at all) but also a Salad row with a Null. You might conclude that there are no
salad recipes in the database. Actually, there are salads in the database but no salads with
“beef” in the title of the recipe!

**you can enter a full search condition as part of the ON
clause in a JOIN. This is absolutely true, so it is perfectly legal in the SQL Standard to
solve the example problem as follows**

SELECT Recipe_Classes.RecipeClassDescription,
Recipes.RecipeTitle
FROM Recipe_Classes
LEFT OUTER JOIN Recipes
ON Recipe_Classes.RecipeClassID =
Recipes.RecipeClassID
AND
(Recipe_Classes.RecipeClassDescription = 'Salads'
OR Recipe_Classes.RecipeClassDescription = 'Soup'
OR Recipe_Classes.RecipeClassDescription =
'Main Course')
AND Recipes.RecipeTitle LIKE '%beef%'

### search condition as part of the ON clause in a JOIN
Unfortunately, we have discovered that some major implementations of SQL solve
this problem incorrectly or do not accept this syntax at all! Therefore, we recommend
that you always enter in the search condition in the ON clause only criteria that
compare columns from the two tables or result sets. If you want to filter the rows from
the underlying tables, do so with a separate search condition in a WHERE clause in an
embedded SELECT statement.

Looks like you need data from five different tables! Just as in Chapter 8, you can do this by
constructing a more complex FROM clause, embedding JOIN clauses within JOIN clauses

** завключить JOIN в скобки
Here’s the trick: Everywhere you can specify a table name, you can also specify an entire JOIN
clause surrounded with parentheses. Figure 9–8 shows a simplified version of joining two
tables.**

![Figure_9_8_simple_JOIN_of_2_tables.png](Figure_9_8_simple_JOIN_of_2_tables.png)

To add a third table to the mix, just place an open parenthesis before the first table name, add a
close parenthesis after the search condition, and then insert another JOIN, a table name, the ON
keyword, and another search condition. Figure 9–9 (on page 312) shows how to do this.

![Figure_9_9_simple_JOIN_of_3_tables.png](Figure_9_9_simple_JOIN_of_3_tables.png)

If you think about it, the JOIN of two tables inside the parentheses forms a logical table, or
inner result set.  
**we implied that you must first join the first table with the second table and then join that
result with the third table**

SELECT Recipe_Classes.RecipeClassDescription,
Recipes.RecipeTitle, Recipes.Preparation,
Ingredients.IngredientName,
Recipe_Ingredients.RecipeSeqNo,
Recipe_Ingredients.Amount,
Measurements.MeasurementDescription
FROM Recipe_Classes
LEFT OUTER JOIN (((Recipes
INNER JOIN Recipe_Ingredients
ON Recipe.RecipeID =
Recipe_Ingredients.RecipeID)
INNER JOIN Ingredients
Ingredients.IngredientID =
Recipe_Ingredients.IngredientID)
INNER JOIN Measurements
ON Measurements.MeasureAmountID =
Recipe_Ingredients.MeasureAmountID)
Recipe_Classes.RecipeClassID =
Recipe.RecipeClassID
ORDER BY RecipeTitle, RecipeSeqNo

Note that we added parentheses to help ensure that the database performs the INNER JOINs
first and then LEFT JOINs the result with the Recip_Classes table

Remember that the optimizers in some database systems are sensitive to the sequence of the
JOIN definitions. If your query with many JOINs is taking a long time to execute on a large
database, it might run faster if you change the sequence of JOINs in your SQL statement

You might have noticed that we used only one OUTER JOIN in the previous multiple-JOIN
examples. You’re probably wondering whether it’s possible or even makes sense to use more
than one OUTER JOIN in a complex JOIN. Let’s assume that there are not only some recipe
classes that don’t have matching recipe rows but also some recipes that don’t have any
ingredients defined yet. In the previous example, you won’t see any rows from the Recipes
table that do not have any matching rows in the Recipe_Ingredients table because the INNER
JOIN eliminates them. Let’s ask for all recipes as well

“I need all the recipe types, and then all the recipe names and preparation instructions,
and then any matching ingredient names, ingredient step numbers, ingredient
quantities, and ingredient measurements from my recipes database, sorted in recipe title
and step number sequence.”

SELECT Recipe_Classes.RecipeClassDescription,
Recipes.RecipeTitle, Recipes.Preparation,
Ingredients.IngredientName,
Recipe_Ingredients.RecipeSeqNo,
Recipe_Ingredients.Amount,
Measurements.MeasurementDescription
FROM (((Recipe_Classes
LEFT OUTER JOIN Recipes
ON Recipe_Classes.RecipeClassID =
Recipes.RecipeClassID)
LEFT OUTER JOIN Recipe_Ingredients
ON Recipes.RecipeID =
Recipe_Ingredients.RecipeID)
INNER JOIN Ingredients
ON Ingredients.IngredientID =
Recipe_Ingredients.IngredientID)
INNER JOIN Measurements
ON Measurements.MeasureAmountID =
Recipe_Ingredients.MeasureAmountID
ORDER BY RecipeTitle, RecipeSeqNo

**Be careful! This sort of multiple OUTER JOIN works as expected only if you’re following a
path of one-to-many relationships**

page 311  for details --  long text to put here

Null matching problem. Some
database systems might recognize this logic problem and refuse to solve your query at all—
you’ll see something like an “ambiguous OUTER JOINs” error message

What’s the **solution to this problem?**  Read on to the next section to find out!
**The FULL OUTER JOIN**

A FULL OUTER JOIN is neither “left” nor “right”—it’s both! It includes all the rows from
both of the tables or result sets participating in the JOIN. When no matching rows exist for
rows on the “left” side of the JOIN, you see Null values from the result set on the “right.”
Conversely, when no matching rows exist for rows on the “right” side of the JOIN, you see
Null values from the result set on the “left.”

![Figure_9_13_FULL_OUTER_JOIN.png](Figure_9_13_FULL_OUTER_JOIN.png)

Let’s take another look at the problem we introduced at the end of the previous section.  

**We can now solve it properly using a FULL OUTER JOIN.**

-- следи  за СКОБКАМИ !

SELECT Recipe_Classes.RecipeClassDescription,
Recipes.RecipeTitle, Recipes.Preparation,
Ingredients.IngredientName,
Recipe_Ingredients.RecipeSeqNo,
Recipe_Ingredients.Amount,
Measurements.MeasurementDescription
FROM
    (
        (
            (Recipe_Classes
            FULL OUTER JOIN Recipes
            ON Recipe_Classes.RecipeClassID =
            Recipes.RecipeClassID)
        LEFT OUTER JOIN Recipe_Ingredients
        ON Recipes.RecipeID =
        Recipe_Ingredients.RecipeID
        )
    INNER JOIN Measurements
    ON Measurements.MeasureAmountID =
    Recipe_Ingredients.MeasureAmountID
    )
    
FULL OUTER JOIN Ingredients
ON Ingredients.IngredientID =
Recipe_Ingredients.IngredientID
ORDER BY RecipeTitle, RecipeSeqNo

**The first and last JOINs now ask for all rows from both sides of the JOIN, 

so the problem with Nulls not matching is solved**

You should now see not only recipe classes for which there are
no recipes and recipes for which there are no ingredients but also ingredients that haven’t been
used in a recipe yet. You might get away with using a LEFT OUTER JOIN for the first JOIN,
but because you can’t predict in advance how your database system decides to nest the JOINs,
you should ask for a FULL OUTER JOIN on both ends to ensure the right answer.

As you might expect, database systems that do not support the SQL Standard syntax
for LEFT OUTER JOIN or RIGHT OUTER JOIN also have a special syntax for
FULL OUTER JOIN. You must consult your database documentation to learn the
specific nonstandard syntax that your database requires to define the OUTER JOIN.
For example, earlier versions of Microsoft SQL Server support the following syntax.
(Notice the asterisks in the WHERE clause.)

SELECT Recipe_Classes.RecipeClassDescription,
Recipes.RecipeTitle
FROM Recipe_Classes, Recipes
WHERE Recipe_Classes.RecipeClassID *=*
Recipes.RecipeClassID

Products that do not support any FULL OUTER JOIN syntax but do support LEFT or
RIGHT OUTER JOINs yield an equivalent result by performing a UNION on a LEFT
and RIGHT OUTER JOIN. We’ll discuss UNION in more detail in the next chapter.
Because the specific syntax for defining a FULL OUTER JOIN using the WHERE
clause varies by product, you might have to learn several different syntaxes if you
work with multiple nonstandard products.

**FULL OUTER JOIN on Non-Key Values**  page 315

Suppose you’re interested in
listing all staff members and all students and showing the ones who have the same first name as
well.
SELECT (Students.StudFirstName || ' ' ||
Students.StudLastName) AS StudFullName,
(Staff.StfFirstName || ' ' ||
Staff.StfLastName) AS StfFullName
FROM Students
FULL OUTER JOIN Staff
ON Students.StudFirstName =
Staff.StfFirstName

### UNION JOIN

In the SQL Standard, a  
**UNION JOIN is a FULL OUTER JOIN with the matching rows removed**

![Figure_9_14_UNION_JOIN.png](Figure_9_14_UNION_JOIN.png)

As you might expect, not many commercial implementations support a UNION JOIN. Quite
frankly, we’re hard pressed to think of a good reason why you would want to do a UNION
JOIN.

Uses for OUTER JOINs
Because an OUTER JOIN lets you see not only the matched rows but also the unmatched ones,
it’s great for finding out which, if any, rows in one table do not have a matching related row in
another table. It also helps you find rows that have matches on a few rows but not on all. In
addition, it’s useful for creating input to a report where you want to show all categories
(regardless of whether matching rows exist in other tables) or all customers (regardless of
whether a customer has placed an order)

Find Missing Values
Sometimes you just want to find what’s missing. You do so by using an OUTER JOIN with a
test for Null

“What products have never been ordered?”
SELECT Products.ProductNumber,
Products.ProductName
FROM Products LEFT OUTER JOIN Order_Details
ON Products.ProductNumber =
Order_Details.ProductNumber
WHERE Order_Details.OrderNumber IS NULL

“Display all customers and any orders for bicycles.”
Because we’re looking for specific orders (bicycles), we split the translation process
into two steps to show that the orders need to be filtered before applying an OUTER
JOIN
SELECT Customers.CustFirstName || ' ' ||
Customers.CustLastName AS CustFullName,
RD.OrderDate, RD.ProductName,
RD.QuantityOrdered, RD.QuotedPrice
FROM Customers
LEFT OUTER JOIN
(SELECT Orders.CustomerID, Orders.OrderDate,
Products.ProductName,
Order_Details.QuantityOrdered,
Order_Details.QuotedPrice
FROM ((Orders
INNER JOIN Order_Details
ON Orders.OrderNumber =
Order_Details.OrderNumber)
INNER JOIN Products
ON Order_Details.ProductNumber =
Products.ProductNumber)
INNER JOIN Categories
ON Categories.CategoryID =
Products.CategoryID
WHERE Categories.CategoryDescription =
'Bikes')
AS RD
ON Customers.CustomerID = RD.CustomerID
This request is really tricky because you want to list all customers OUTER JOINed
with only the orders for bikes. If you turn Translation 1 directly into SQL, you won’t
find any of the customers who have not ordered a bike! An OUTER JOIN from
Customers to Orders will return all customers and any orders. When you add the filter
to select only bike orders, that’s all you will get—customers who ordered bikes.
Translation 2 shows you how to do it correctly—create an inner result set that returns
only orders for bikes, and then OUTER JOIN that with Customers to get the final
answer

“List entertainers who have never been booked.”
SELECT Entertainers.EntertainerID,
Entertainers.EntStageName
FROM Entertainers
LEFT OUTER JOIN Engagements
ON Entertainers.EntertainerID =
Engagements.EntertainerID
WHERE Engagements.EngagementNumber IS NULL

“Show me all musical styles and the customers who prefer those styles.”
SELECT Musical_Styles.StyleID,
Musical_Styles.StyleName,
Customers.CustomerID,
Customers.CustFirstName,
Customers.CustLastName
FROM Musical_Styles
LEFT OUTER JOIN (Musical_Preferences
INNER JOIN Customers
ON Musical_Preferences.CustomerID =
Customers.CustomerID)
ON Musical_Styles.StyleID =
Musical_Preferences.StyleID
We very carefully phrased the FROM clause to influence the database system to first
perform the INNER JOIN between Musical_Preferences and Customers, and then
OUTER JOINed that with Musical_Styles. If your database tends to process JOINs
from left to right, you might have to state the FROM clause with the INNER JOIN
first followed by a RIGHT OUTER JOIN to Musical_Styles. In Microsoft Office
Access, we had to state the INNER JOIN as an embedded SELECT statement to get it
to return the correct answer

“Display students who have never withdrawn from a class.”
SELECT Students.StudLastName || ', ' ||
Students.StudFirstName AS StudFullName
FROM Students
LEFT OUTER JOIN
(SELECT Student_Schedules.StudentID
FROM Student_Class_Status
INNER JOIN Student_Schedules
ON Student_Class_Status.ClassStatus =
Student_Schedules.ClassStatus
WHERE Student_Class_Status.ClassStatus
Description = 'withdrew')
AS Withdrew
ON Students.StudentID = Withdrew.StudentID
WHERE Withdrew.StudentID IS NULL
This is another example where you must apply the filter on “withdrew” in an
embedded SELECT statement. If you use that filter in the WHERE clause of the main
query, you will get no results. Remember that when you need to apply a filter to the
“right” side of a “left” join (or vice-versa), you must do it in an embedded SELECT
statement.

“Show me all subject categories and any classes for all subjects.”
SELECT Categories.CategoryDescription,
Subjects.SubjectName, Classes.ClassroomID,
Classes.StartDate, Classes.StartTime,
Classes.Duration
FROM (Categories
LEFT OUTER JOIN Subjects
ON Categories.CategoryID = Subjects.CategoryID)
LEFT OUTER JOIN Classes
ON Subjects.SubjectID = Classes.SubjectID
We were very careful again to construct the sequence and nesting of JOINs to be sure
we got the answer we expected.

more on page 326

#### 10. UNIONs   
A UNION lets you select the rows from two or more similar result sets and combine them into
a single result set. Notice that we said **“rows,” not “columns.”**  

Notice that we get only one column in the result set
The name of the column is inherited from
the column in the first table we chose to include in the SELECT expression

![Figure_10_2_basic_UNION.png](Figure_10_2_basic_UNION.png)

**ALL - is to keep all DUPLICATES**

To perform a UNION, the two result sets must meet certain requirements. First, each of the two
SELECT statements that you’re linking with a UNION must have the same number of output
columns specified after the SELECT keyword so that the result set will have the same number
of columns. Secondly, each corresponding column must be what the SQL Standard calls
“comparable

![Figure_10_4_UNION_to_combine_two_SELECT.png](Figure_10_4_UNION_to_combine_two_SELECT.png)

Unlike when you ask for a JOIN, all the action happens in the UNION operator that you specify
to combine the two SELECT statements. As mentioned earlier, if you leave out the optional
ALL keyword, your database system eliminates any duplicate rows it finds

read more page 341

<  пропущено >  UNION    .....  11. Subqueries  ....p 360

### Part IV: Summarizing and Grouping Data  
#### 12. Simple Totals p397

SELECT LastName, COUNT(*) As CountOfStudents  # returns a single value
FROM Students

SELECT 'The number of students is: ', COUNT(*)
    As CountOfStudents
FROM Students

The SQL Standard defines two versions of the COUNT function. COUNT(*) processes rows in
a result set,  
and COUNT (value expression) processes values returned by a value expression

You can indicate which rows COUNT(*) should include by using a WHERE clause

SELECT COUNT(*)
FROM Employees
WHERE EmpState = 'WA'

to provide a meaningful column name for the result set
SELECT COUNT(*) AS TotalWashingtonEmployees
FROM Employees
WHERE EmpState = 'WA'

### COUNT(*) includes Null values as well

#### automatically excludes any Null values from the final count

SELECT COUNT(CustCounty)
AS NumberOfKnownCounties
FROM Customers

#### you can use the function’s DISTINCT option to exclude duplicate values from the count

SELECT COUNT(DISTINCT CustCounty)
AS NumberOfUniqueCounties
FROM Customers

SELECT COUNT(DISTINCT CustCounty)
AS NumberOfUniqueOregonCounties
FROM Customers
WHERE CustState = 'DA'

if the value expression in all the rows is **Null or  
if the result of evaluating the FROM and WHERE clauses is an empty set, then SUM returns a Null**

SELECT SUM(Salary) AS TotalSalaryAmount
FROM Employees
WHERE EmpState = 'CA'

SELECT SUM(WholesalePrice * QuantityOnHand)
      AS TotalInventoryValue
FROM Products

SELECT SUM(DISTINCT WholesaleCost)
AS SumoOf__Unique___WholesaleCosts
FROM Products

#### Calculating a Mean Value with == AVG

SELECT AVG(ContractPrice)
    AS AverageContractPrice
FROM Vendor_Contracts
WHERE VendorID = 10014

SELECT AVG(Price * QuantityOrdered)  # if any Null present - will not work
    AS AverageItemTotal
FROM Order_Details
WHERE OrderID = 64

SELECT AVG(DISTINCT Price)
    AS UniqueProductPrices
FROM Products

SELECT MAX(ContractPrice)
    AS LargestContractPrice
FROM Engagements

Although the SQL Standard specifies DISTINCT as an option for the MAX
function, DISTINCT has no effect on the MAX function whatsoever. There can be only one
maximum value, regardless of whether or not it is distinct  
we recommend that you use the MAX function without the DISTINCT option

SELECT MIN(Price * QuantityOrdered)
    AS LowestItemTotal
FROM Order_Details
WHERE OrderID = 3314
# DISTINCT option has no effect whatsoever on the MIN

SELECT MIN(ReviewDate) AS EarliestReviewDate,
    MAX(ReviewDate) AS RecentReviewDate
FROM Employees
WHERE Department = 'Advertising'

SELECT COUNT(DISTINCT ProductID) AS
TotalProductsPurchased,
    SUM(Price * QuantityOrdered) AS OrderAmount
FROM Order_Details
WHERE OrderNumber = 553

You must keep in mind a couple of **restrictions** when you work with two or more aggregate
functions. The first is that you cannot embed one aggregate function within another. This
restriction makes the following **expression illegal:
SUM(AVG(LineItemTotal)**

The second is that you **cannot use a subquery** as the value expression of an aggregate function.  
For example, the following **expression is illegal** under this restriction:  
AVG((SELECT Price FROM Products WHERE Category = 'Bikes'))

#### Using Aggregate Functions in Filters

SELECT EngagementNumber
FROM Engagements
WHERE ContractPrice >= 1266.22

subquery instead to get number:

SELECT EngagementNumber
FROM Engagements
WHERE ContractPrice >=
    (SELECT AVG(ContractPrice)
    FROM Engagements)

If you use a literal value, you must be certain that you always recalculate the average
contract price before executing the SELECT statement, just in case you’ve modified any
existing contract prices

**You can limit the rows that an aggregate function evaluates  
by using a WHERE clause in the subquery**  
This allows you to narrow the scope of the statistical value returned by the aggregate
function.

### <<<< USE IT >>>

SELECT EngagementNumber, ContractPrice
FROM Engagements
WHERE ContractPrice >
    (SELECT SUM(ContractPrice) FROM Engagements
        WHERE StartDate BETWEEN '2012-09-01'
        AND '2012-09-30')

**“List the product names and numbers  
that have a quoted price greater than or equal to  
the overall average retail price in the products table.”**

SELECT DISTINCT Products.ProductName,
    Products.ProductNumber
FROM Products
INNER JOIN Order_Details
ON Products.ProductNumber =
    Order_Details.ProductNumber
WHERE Order_Details.QuotedPrice >=
    (SELECT AVG(RetailPrice)
    FROM Products)

“List the engagement number and contract price of contracts that occur on the earliest date"

SELECT EngagementNumber, ContractPrice
FROM Engagements
WHERE StartDate =
(SELECT MIN(StartDate) FROM Engagements)

“What was the total value of all engagements booked in October 2012?”

SELECT SUM(ContractPrice) AS TotalBookedValue
FROM Engagements
WHERE StartDate
BETWEEN '2012-10-01' AND '2012-10-31'

“List the last name and first name, in alphabetical order, of every bowler whose personal
average score is greater than or equal to the overall average score.”

SELECT Bowlers.BowlerLastName,
    Bowlers.BowlerFirstName
FROM Bowlers
WHERE (SELECT AVG(RawScore)
FROM Bowler_Scores AS BS
WHERE BS.BowlerID = Bowlers.BowlerID)
>=(SELECT AVG(RawScore) FROM Bowler_Scores)
ORDER BY Bowlers.BowlerLastName,
    Bowlers.BowlerFirstName

**“How many recipes contain a beef ingredient?”**

SELECT COUNT(*) AS NumberOfRecipes
FROM Recipes
WHERE Recipes.RecipeID IN
    (SELECT RecipeID
    FROM Recipe_Ingredients
    INNER JOIN Ingredients ON
        Recipe_Ingredients.IngredientID =
        Ingredients.IngredientID
    WHERE Ingredients.IngredientName
        LIKE 'Beef%')

“How many ingredients are measured by the cup?”
Select the count (*) of ingredients as NumberOfIngredients from the
ingredients table inner joined with the measurements table on
ingredients.measure amount ID in the ingredients table matches =
measurements.measure amount ID in the measurements table where the
measurement description is = ‘Cup’

SELECT COUNT(*) AS NumberOfIngredients
FROM Ingredients
INNER JOIN Measurements
ON Ingredients.MeasureAmountID =
    Measurements.MeasureAmountID
WHERE MeasurementDescription = 'Cup'

#### 13. Grouping Data p421
You can then ask your database to calculate aggregate values on each group

SELECT Entertainers.EntStageName,
    Engagements.ContractPrice
FROM Entertainers
INNER JOIN Engagements
ON Entertainers.EntertainerID =
    Engagements.EntertainerID
ORDER BY EntStageName

#### The GROUP BY Clause

SELECT Entertainers.EntStageName,
    COUNT(*) AS NumContracts,
    SUM(Engagements.ContractPrice) AS TotPrice,
    MIN(Engagements.ContractPrice) AS MinPrice,
    MAX(Engagements.ContractPrice) AS MaxPrice,
    AVG(Engagements.ContractPrice) AS AvgPrice
FROM Entertainers
INNER JOIN Engagements
ON Entertainers.EntertainerID =
    Engagements.EntertainerID
GROUP BY Entertainers.EntStageName

Do you suppose the above query returns a row for each entertainer? What about entertainers
who have never been booked? about OUTER
JOIN, you might be tempted to solve the problem like this:

SELECT Entertainers.EntStageName,
    COUNT(*) AS NumContracts,
    SUM(Engagements.ContractPrice) AS TotPrice,
    MIN(Engagements.ContractPrice) AS MinPrice,
        MAX(Engagements.ContractPrice) AS MaxPrice,
AVG(Engagements.ContractPrice) AS AvgPrice
FROM Entertainers
LEFT OUTER JOIN Engagements
ON Entertainers.EntertainerID =
    Engagements.EntertainerID
GROUP BY Entertainers.EntStageName

One interesting point about all the aggregate functions is that they ignore rows that have a Null
value. The above query will return a blank or Null value for TotPrice, MinPrice, MaxPrice, and
AvgPrice for the one entertainer who has no engagements, but you’ll find that NumContracts is
1! How can that be? Well, this SQL asks for COUNT(*)—count any row returned. The
OUTER JOIN returns exactly one row for the entertainer with no booking, so the count of 1 is
correct. But if you remember from the previous chapter, you can also COUNT(value
expression), and that tells your database system to add to the count only if it finds a non-Null
value in the value expression or column name you specify. Let’s tweak the query one more
time.  page 428

SELECT Entertainers.EntStageName,
COUNT(Engagements.EntertainerID) AS NumContracts,
SUM(Engagements.ContractPrice) AS TotPrice,
MIN(Engagements.ContractPrice) AS MinPrice,
MAX(Engagements.ContractPrice) AS MaxPrice,
AVG(Engagements.ContractPrice) AS AvgPrice
FROM Entertainers
LEFT OUTER JOIN Engagements
ON Entertainers.EntertainerID =
Engagements.EntertainerID

SELECT Customers.CustLastName || ', ' ||
Customers.CustFirstName AS CustomerFullName,
Customers.CustStreetAddress || ', ' ||
Customers.CustCity || ', ' ||
Customers.CustState || ' ' ||
Customers.CustZipCode AS CustomerFullAddress
MAX(Engagements.StartDate) AS LatestDate,
SUM(Engagements.ContractPrice),
AS TotalContractPrice
FROM Customers
INNER JOIN Engagements
ON Customers.CustomerID =
Engagements.CustomerID
GROUP BY Customers.CustLastName,
Customers.CustFirstName,
Customers.CustStreetAddress,
Customers.CustCity, Customers.CustState,
Customers.CustZipCode

#### Using GROUP BY in a Subquery in a WHERE Clause p431

SELECT Customers.CustFirstName,
    Customers.CustLastName,
    Engagements.StartDate,
    Engagements.ContractPrice
FROM Customers
INNER JOIN Engagements
    ON Customers.CustomerID =
Engagements.CustomerID
WHERE Engagements.ContractPrice > ALL
    (Select SUM(ContractPrice)
    FROM Engagements AS E2
    WHERE E2.CustomerID <> Customers.CustomerID
    GROUP BY E2.CustomerID)

Let’s analyze what the subquery is doing. For each engagement that the query looks at in the
JOIN of the Customers and Engagements tables, the subquery calculates the SUM of all
contract prices for all other customers and groups them by customer ID. Because there are
multiple customers in the database, the subquery will return multiple SUM values—one for
each of the other customers

For this reason, we cannot ask for a simple greater than (>)
comparison. We can, however, use the quantified greater than all (> ALL) comparison to check
a set of values as you learned in Chapter 11. If you run this query in the sample Entertainment
Agency database for this chapter (we saved it as CH13_Biggest_Big_Contract), you’ll find that
one contract fits the bill, as shown here:

#### Simulating a SELECT DISTINCT Statement

Did it occur to you that you can use a GROUP BY clause and not include any aggregate
functions in your SELECT clause? Sure you can! When you do this, you get the same effect as
using the DISTINCT keyword covered in Chapter 4. (See the “Eliminating Duplicate Rows”
section in that chapter.)

##### “Show me the unique city names from the customers table.”

SELECT Customers.CustCityName
FROM Customers
GROUP BY Customers.CustCityName

Remember that GROUP BY **groups all the rows** on the grouping column(s) you specify **and
returns one row per group**. This is a slightly different way to get to the same result that you
obtain with the DISTINCT keyword

Which one is better? We think that **DISTINCT might be a
clearer statement** of what you want if all you want is unique rows, but you might find that your
database system solves the problem faster when you use GROUP BY. In addition, **GROUP BY
lets you obtain more information** about your data

SELECT Customers.CustCityName, Count(*) as
CustPerCity
FROM Customers
GROUP BY Customers.CustCityName

With this query, you **not only fetch the unique city names** but also find out how many
customers are in each city.   
Is that cool or what?

**“Some Restrictions Apply”**

#### Column Restrictions

When you add a GROUP BY clause, you’re asking your database system **to form unique
groups of rows** from those returned by the tables defined in your FROM clause and filtered by
your WHERE clause

You can use as many aggregate expressions as you like in your SELECT
clause,  
and these expressions can use any of the columns in the table defined by the FROM and
WHERE clauses.

As we pointed out in an earlier example, it probably does not make sense to
reference a column in an aggregate expression and also include that column in your grouping
specification

**If you choose to also include expressions that reference columns but do not include an
aggregate function, you must list all columns you use this way in the GROUP BY clause**

One of the most common mistakes is to assume that you can reference columns in nonaggregate
expressions as long as the columns come from unique rows

For example, let’s look at an
**incorrect request that includes a primary key value**  

— something that we know **by definition is unique**

##### “Display the customer ID, customer full name, and the total of all engagement contract prices.”

SELECT Customers.CustomerID,
Customers.CustFirstName || ' ' ||
Customers.CustLastName AS CustFullName,
SUM(Engagements.ContractPrice) AS TotalPrice
FROM Customers
INNER JOIN Engagements
ON Customers.CustomerID =
Engagements.CustomerID
GROUP BY Customers.CustomerID   # will fail

We know that CustomerID is unique per customer. Grouping on CustomerID alone should be
sufficient to fetch unique customer first and last name information within the groups formed by
CustomerID

However, SQL is a language based on syntax, not semantics. In other words, SQL
does not take into account any knowledge that could be implied by the design of your database
tables—including whether columns are primary keys

SQL demands that your request be syntactically “pure” and translatable without any knowledge of the underlying table design.  
So,the above SQL statement **will fail on a database system that is fully compliant with the SQL
Standard because we’ve included columns in the SELECT clause that are not in an aggregate
function and are also not in the GROUP BY clause** (CustFirstName and CustLastName). 
The correct SQL request is as follows:

SELECT Customers.CustomerID,
Customers.CustFirstName || ' ' ||
Customers.CustLastName AS CustFullName,
SUM(Engagements.ContractPrice) AS TotalPrice
FROM Customers
INNER JOIN Engagements
ON Customers.CustomerID =
Engagements.CustomerID
GROUP BY Customers.CustomerID,
Customers.CustFirstName,
Customers.CustLastName

#### This might seem like overkill, but it’s the correct way to do it!

Note
In some database systems, you must exactly duplicate the expressions you use in the
SELECT clause in the GROUP BY clause. Oracle and Microsoft Office Access are
examples of systems that either support or require this. (Microsoft Office Access lets
you do it either way.) In our example, you would have to end the SQL with this:

GROUP BY Customers.CustomerID,
Customers.CustFirstName || ' ' ||
Customers.CustLastName

#### Grouping on Expressions

Remember that the **GROUP BY clause must refer to columns created by the FROM and WHERE clauses. 
It cannot use an expression you create in your SELECT clause.**

“Show me for each customer in the state of Washington the customer full name, 
the customer full address, the latest contract date for the customer, 
and the total price of all the contracts.”

let’s make the mistake
SELECT Customers.CustLastName || ', ' ||
    Customers.CustFirstName AS CustomerFullName,
    Customers.CustStreetAddress || ', ' ||
    Customers.CustCity || ', ' ||
    Customers.CustState || ' ' ||
    Customers.CustZip AS CustomerFullAddress
    MAX(Engagements.StartDate) AS LatestDate,
    SUM(Engagements.ContractPrice)
        AS TotalContractPrice
FROM Customers
INNER JOIN Engagements
ON Customers.CustomerID =
    Engagements.CustomerID
WHERE Customers.CustState ='WA'
GROUP BY CustomerFullName,
    CustomerFullAddress
Some database systems will let you get away with this, but it’s not correct.

CustomerFullName and CustomerFullAddress columns don’t exist until after your database
system has evaluated the FROM, WHERE, and GROUP BY clauses.

The GROUP BY clause
won’t find these columns in the result created in the FROM and WHERE clauses, so on a
database system that strictly adheres to the SQL Standard you’ll get a syntax error.

We showed you earlier one correct way to solve this: 
You must list all the columns you use in both the CustomerFullName and CustomerFullAddress expressions

Another way is to make the **FROM clause generate the calculated columns by embedding a table subquery**. Here’s what it looks like:

SELECT CE.CustomerFullName,
    CE.CustomerFullAddress,
    SUM(CE.ContractPrice)
    AS TotalContractPrice
FROM
    (SELECT Customers.CustLastName || ', ' ||
    Customers.CustFirstName AS CustomerFullName,
    Customers.CustStreetAddress || ', ' ||
    Customers.CustCity || ', ' ||
    Customers.CustState || ' ' ||
        Customers.CustZip AS CustomerFullAddress,
    Engagements.StartDate,
        Engagements.ContractPrice
    FROM Customers
    INNER JOIN Engagements
    ON Customers.CustomerID =
        Engagements.CustomerID
    WHERE Customers.CustState ='WA')
AS CE
GROUP BY CE.CustomerFullName,
    CE.CustomerFullAddress

This works now because we’ve generated the CustomerFullName and CustomerFullAddress
columns as output in the FROM clause. You have to admit, though, that this makes the query
very complex. In truth, it’s better to just list all the individual columns you plan to use in
nonaggregate expressions rather than try to generate the expressions as columns inside the
FROM clause.

Sample Statements p437

“List for each customer and order date the customer full name and the total cost of items
ordered on each date.”

SELECT Customers.CustFirstName || ' ' ||
    Customers.CustLastName AS CustFullName,
    Orders.OrderDate,
    SUM(Order_Details.QuotedPrice *
    Order_Details.QuantityOrdered) AS TotalCost
FROM (Customers
INNER JOIN Orders
ON Customers.CustomerID = Orders.CustomerID)
INNER JOIN Order_Details
ON Orders.OrderNumber =
    Order_Details.OrderNumber
GROUP BY Customers.CustFirstName,
    Customers.CustLastName, Orders.OrderDate

“Display each entertainment group ID, entertainment group member, and the amount of
pay for each member based on the total contract price divided by the number of
members in the group.”
This one is really tricky because each member might belong to more than one
entertainer group. You must sum the contract prices for each entertainer and then
divide by the count of members in that group (assuming each member gets equal pay).
Fetching the count requires a subquery filtered on the current entertainer ID (the ID of
the group, not the ID of the member), which means you also must group on entertainer
ID. Oh yes, and don’t forget to exclude members who are not active (Status = 3).

SELECT Entertainers.EntertainerID,
    Members.MbrFirstName, Members.MbrLastName,
    SUM(Engagements.ContractPrice)/
        (SELECT COUNT(*)
        FROM Entertainer_Members AS EM2
        WHERE EM2.Status <> 3
      AND EM2.EntertainerID =
Entertainers.EntertainerID)
AS MemberPay
FROM ((Members
INNER JOIN Entertainer_Members
ON Members.MemberID =
    Entertainer_Members.MemberID)
INNER JOIN Entertainers
ON Entertainers.EntertainerID =
    Entertainer_Members.EntertainerID)
INNER JOIN Engagements
ON Entertainers.EntertainerID =
    Engagements.EntertainerID
WHERE Entertainer_Members.Status<>3
GROUP BY Entertainers.EntertainerID,
    Members.MbrFirstName, Members.MbrLastName
ORDER BY Members.MbrLastName

“For completed classes, list by category and student the category name, the student
name, and the student’s average grade of all classes taken in that category.”

SELECT Categories.CategoryDescription,
Students.StudFirstName,
Students.StudLastName,
AVG(Student_Schedules.Grade) AS AvgOfGrade
FROM ((((Categories
INNER JOIN Subjects
ON Categories.CategoryID = Subjects.CategoryID)
INNER JOIN Classes
ON Subjects.SubjectID = Classes.SubjectID)
INNER JOIN Student_Schedules
ON Classes.ClassID = Student_Schedules.ClassID)
INNER JOIN Student_Class_Status
ON Student_Class_Status.ClassStatus =
Student_Schedules.ClassStatus)
INNER JOIN Students
ON Students.StudentID =
Student_Schedules.StudentID
WHERE Student_Class_Status.ClassStatusDescription =
'Completed'
GROUP BY Categories.CategoryDescription,
Students.StudFirstName,
Students.StudLastName

#### 14. Filtering Grouped Data p449  HAVING clause

“Show me the entertainer groups that play in a jazz style and have more than three
members.”  - 4 tables

SELECT Entertainers.EntStageName,
COUNT(*) AS CountOfMembers
FROM Entertainers
INNER JOIN Entertainer_Members
ON Entertainers.EntertainerID =
Entertainer_Members.EntertainerID
WHERE Entertainers.EntertainerID
IN
(SELECT Entertainer_Styles.EntertainerID
FROM Entertainer_Styles
INNER JOIN Musical_Styles
ON Entertainer_Styles.StyleID =
Musical_Styles.StyleID
WHERE Musical_Styles.StyleName = 'Jazz')
AND COUNT(*) > 3
GROUP BY Entertainers.EntStageName
What’s wrong with this picture? The key is that any column you reference in a WHERE clause
(remember Chapter 6, “Filtering Your Data”?) must be a column in one of the tables defined in
the FROM clause. Is COUNT(*) a column generated from the FROM clause? We don’t think
so! In fact, you can calculate COUNT for each group only after the rows are grouped.
Looks like we need a new clause after GROUP BY. Figure 14–2 shows the entire syntax for a
SELECT statement, including the new HAVING clause.

Because the **HAVING** clause acts on rows **after they have been grouped**, the SQL Standard
defines some restrictions on the columns you reference in any predicate in the search condition

Note !  that when you do not have a GROUP BY clause, the HAVING clause operates on all
rows returned by the FROM and WHERE clauses as though they are a single group

Any reference to a column in a predicate within the search condition of a
HAVING clause either must name a column listed in the GROUP BY clause or must be
enclosed within an aggregate function

SELECT Entertainers.EntertainerID,
Entertainers.EntStageName,
Count(Entertainer_Members.EntertainerID)
AS CountOfEntertainerID
FROM ((Entertainers INNER JOIN Entertainer_Members
ON Entertainers.EntertainerID =
Entertainer_Members.EntertainerID)
INNER JOIN Entertainer_Styles
ON Entertainers.EntertainerID =
Entertainer_Styles.EntertainerID)
INNER JOIN Musical_Styles
ON Musical_Styles.StyleID =
Entertainer_Styles.StyleID
WHERE Musical_Styles.StyleName='Jazz'
GROUP BY Entertainers.EntertainerID,
Entertainers.EntStageName
HAVING Count(Entertainer_Members.EntertainerID)>3

#### two ways to filter your final result set: WHERE and HAVING

Should You Filter in WHERE or in HAVING?  p454

five major types of predicates you can build to filter the rows
returned by the FROM clause of your request. These are **comparison (=, <>, <, >, >=, <=),
range (BETWEEN), set membership (IN), pattern match (LIKE), and Null (IS NULL)**

In Chapter 11, we expanded your horizons by showing you how to use a subquery as one of the
arguments in comparison and set membership predicates, and we introduced you to two
additional classes of predicates—quantified (ANY, SOME, ALL) and existence (EXISTS)—
that require a subquery as one of the arguments.

### WHERE clause filters rows before your database system groups them

In general, when you want to ultimately group only a subset of rows,  
it’s better to eliminate unwanted rows first in the WHERE clause

#### Avoiding the HAVING COUNT Trap - p456
The trick here is you also want to know **which categories have zero members**

samples see in book

#### 19. Condition Testing   p586  CASE   COALWSCE

SELECT StudentID, StudFirstName, StudLastName,
(CASE StudGender WHEN 'M' THEN 'Male'
WHEN 'F' THEN 'Female'
ELSE 'Not Specified' END) AS Gender
FROM Students