In [8]:
import pandas as pd

In [12]:
df = pd.read_csv('mdevedkovo.csv', sep=';')

In [14]:
df.drop('Author', inplace = True, axis=1)

In [15]:
df

,Identif,MonthlyPeoples,DailyPeoples,HourlyPeoples_08_22,HourlyPeoples_08_10,HourlyPeoples_17_19,HourlyPeoples_22_08,DistrictName,WKT,HeatmapPoint,lat1,lon1,lat2,lon2
0,257431,21139,704,43,66,59,9,Южное Медведково,"LINESTRING (37.651131 55.876213, 37.650848 55....",POINT (37.651 55.8762),55.876213,37.651131,55.876242,37.650848
1,257432,21139,704,43,66,59,9,Южное Медведково,"LINESTRING (37.650848 55.876242, 37.650794 55....",POINT (37.6508 55.8763),55.876242,37.650848,55.876300,37.650794
2,257433,21139,704,43,66,59,9,Южное Медведково,"LINESTRING (37.650794 55.8763, 37.650883 55.87...",POINT (37.6508 55.8765),55.876300,37.650794,55.876609,37.650883
3,257434,80859,2695,167,256,229,35,Южное Медведково,"LINESTRING (37.650883 55.876609, 37.650565 55....",POINT (37.6507 55.8766),55.876609,37.650883,55.876640,37.650565
4,257435,79075,2635,163,250,223,34,Южное Медведково,"LINESTRING (37.650565 55.87664, 37.64816 55.87...",POINT (37.6494 55.8768),55.876640,37.650565,55.876885,37.648160
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2310,540137,1132,37,2,3,3,0,Южное Медведково,"LINESTRING (37.627873 55.87258, 37.627862 55.8...",POINT (37.6279 55.8727),55.872580,37.627873,55.872843,37.627862
2311,540138,1132,37,2,3,3,0,Южное Медведково,"LINESTRING (37.627862 55.872843, 37.627826 55....",POINT (37.6278 55.8731),55.872843,37.627862,55.873267,37.627826
2312,540139,1132,37,2,3,3,0,Южное Медведково,"LINESTRING (37.627826 55.873267, 37.627611 55....",POINT (37.6277 55.8733),55.873267,37.627826,55.873295,37.627611
2313,540140,1132,37,2,3,3,0,Южное Медведково,"LINESTRING (37.627611 55.873295, 37.627651 55....",POINT (37.6276 55.8733),55.873295,37.627611,55.873375,37.627651
2314,540141,1132,37,2,3,3,0,Южное Медведково,"LINESTRING (37.627651 55.873375, 37.627243 55....",POINT (37.6274 55.8734),55.873375,37.627651,55.873452,37.627243