In [34]:
import pandas as pd

In [35]:
df = pd.read_csv('mdevedkovo.csv', sep=';')

In [36]:
df.drop('Author', inplace = True, axis=1)

In [37]:
drop_list = df.columns

In [38]:
drop_list

Index(['Identif', 'MonthlyPeoples', 'DailyPeoples', 'HourlyPeoples_08_22',
       'HourlyPeoples_08_10', 'HourlyPeoples_17_19', 'HourlyPeoples_22_08',
       'DistrictName', 'WKT', 'HeatmapPoint', 'lat1', 'lon1', 'lat2', 'lon2'],
      dtype='object')

In [39]:
drop_list=['MonthlyPeoples', 'DailyPeoples', 'HourlyPeoples_08_22',
       'HourlyPeoples_08_10', 'HourlyPeoples_17_19', 'HourlyPeoples_22_08',
       'DistrictName', 'WKT', 'HeatmapPoint']
drop_list

['MonthlyPeoples',
 'DailyPeoples',
 'HourlyPeoples_08_22',
 'HourlyPeoples_08_10',
 'HourlyPeoples_17_19',
 'HourlyPeoples_22_08',
 'DistrictName',
 'WKT',
 'HeatmapPoint']

In [24]:
df.drop(drop_list, inplace = True, axis=1)

In [25]:
df

      Identif       lat1       lon1       lat2       lon2
0      257431  55.876213  37.651131  55.876242  37.650848
1      257432  55.876242  37.650848  55.876300  37.650794
2      257433  55.876300  37.650794  55.876609  37.650883
3      257434  55.876609  37.650883  55.876640  37.650565
4      257435  55.876640  37.650565  55.876885  37.648160
...       ...        ...        ...        ...        ...
2310   540137  55.872580  37.627873  55.872843  37.627862
2311   540138  55.872843  37.627862  55.873267  37.627826
2312   540139  55.873267  37.627826  55.873295  37.627611
2313   540140  55.873295  37.627611  55.873375  37.627651
2314   540141  55.873375  37.627651  55.873452  37.627243

[2315 rows x 5 columns]