In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from itertools import combinations
from scipy.stats import ttest_ind

pd.set_option('display.max_rows', 50) # показывать больше строк
pd.set_option('display.max_columns', 50) # показывать больше колонок

cacao = pd.read_csv('cacao_flavors.csv')
cacao

,Bar id,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,1,A. Morin,Agua Grande,1876,2016,63%,France,11.50,,Sao Tome
1,2,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,3,A. Morin,Atsane,1676,2015,670%,France,3.00,,Togo
3,4,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,5,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
...,...,...,...,...,...,...,...,...,...,...
1790,1791,Zotter,Peru,647,2011,70%,Austria,3.75,,Peru
1791,1792,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,1793,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,1794,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,1795,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

In [19]:
display(cacao.head(10))
cacao.info()
cacao.columns

,Bar id,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,1,A. Morin,Agua Grande,1876,2016,63%,France,11.50,,Sao Tome
1,2,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,3,A. Morin,Atsane,1676,2015,670%,France,3.00,,Togo
3,4,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,5,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
5,6,A. Morin,Carenero,1315,2014,70%,France,2.75,Criollo,Venezuela
6,7,A. Morin,Cuba,1315,2014,70%,France,3.50,,Cuba
7,8,A. Morin,Sur del Lago,1315,2014,70%,France,11.50,Criollo,Venezuela
8,9,,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
9,10,A. Morin,Pablino,1319,2014,70%,France,4.00,,Peru

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Bar id                            1795 non-null   int64
 1   Company
(Maker-if known)         1795 non-null   object
 2   Specific Bean Origin
or Bar Name  1795 non-null   object
 3   REF                               1795 non-null   int64
 4   Review
Date                       1795 non-null   int64
 5   Cocoa
Percent                     1795 non-null   object
 6   Company
Location                  1795 non-null   object
 7   Rating                            1795 non-null   float64
 8   Bean
Type                         1794 non-null   object
 9   Broad Bean
Origin                 1794 non-null   object
dtypes: float64(1), int64(3), object(6)
memory usage: 140.4+ KB

Index(['Bar id', 'Company \n(Maker-if known)',
       'Specific Bean Origin\nor Bar Name', 'REF', 'Review\nDate',
       'Cocoa\nPercent', 'Company\nLocation', 'Rating', 'Bean\nType',
       'Broad Bean\nOrigin'],
      dtype='object')

cacao = cacao.rename(columns={'Bar id': 'bar_id', 'Company \n(Maker-if known)': 'company', 'Specific Bean Origin\nor Bar Name': 'specific_origin','REF': 'ref','Review\nDate': 'review_date','Cocoa\nPercent': 'cocoa_percent','Company\nLocation': 'company_location','Rating': 'rating','Bean\nType': 'bean_type','Broad Bean\nOrigin': 'bean_origin')}
cacao.columns

In [18]:
print(cacao.bar_id.nunique())
plt.plot(cacao.bar_id)

AttributeError: 'DataFrame' object has no attribute 'bar_id'

In [6]:
cacao.drop(['Bar id'], inplace = True, axis = 1)

In [7]:
pd.DataFrame(cacao.company.value_counts())

AttributeError: 'DataFrame' object has no attribute 'company'